.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 医生管理
    ol.breadcrumb
      li.active 医生列表

  .col-lg-2

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 医生列表

    .ibox-content
      table.table.table-striped
        thead
          tr
            th 医生名称
            th 省
            th 市
            th 医院
            th 二维码
            th 扫描次数
            th 科室
            th 职称
            th 级别
            th 电话
            th 处方
            th 注册时间
            th 更新时间
            th 编辑人
            th 操作
        tbody
          - @doctors.each do |item|
            tr
              td= item.username
              td= item.province.try(:name)
              td= item.city.try(:name)
              td= item.hospital.try(:name)
              td= link_to image_tag(item.ticket_qr_code, size: '16x16'), item.ticket_qr_code
              td= item.logs_scans.subscribe.count
              td= item.department
              td= item.title
              td= item.grade
              td= item.mobile
              td
              td= item.created_at.to_s
              td= item.updated_at.to_s
              td
              td
                = link_to '编辑', '#'
                ||
                = link_to '认证', admin_v2_doctor_path(item)
