.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 微信管理
    ol.breadcrumb
      li = link_to '商品管理', admin_v2_weixin_products_path
      li.active 编辑商品

  .col-lg-2 = link_to '返回列表', admin_v2_weixin_products_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 编辑商品
    .ibox-content
      .row
        .col-sm-5.pull-right
          .imgBox
            = link_to(image_tag('', alt: '', title: '', width: '100%'), '#imgModal', data: {toggle: 'modal', target: '#imgModal'})

        .col-sm-7
          = form_for [:admin, :v2, :weixin, @product], html: {class: 'form-horizontal formBox valForm'} do |f|
            .form-group
              = f.label :name, '药品名', class: 'col-sm-2 control-label'
              .col-sm-6
                = f.text_field :name, class: 'form-control', required: 'required'

            .form-group
              = f.label :common_name, '通用名', class: 'col-sm-2 control-label'
              .col-sm-6
                = f.text_field :common_name, class: 'form-control', disabled: 'disabled'

            .form-group
              = f.label :manufacturer_name, '厂商', class: 'col-sm-2 control-label'
              .col-sm-6
                = f.text_field :manufacturer_name, class: 'form-control',  disabled: 'disabled'

            .form-group
              = f.label :identifier, '药品识别码', class: 'col-sm-2 control-label'
              .col-sm-6
                = f.text_field :identifier, class: 'form-control',  disabled: 'disabled'

            .form-group
              = f.label :dosage_form, '剂型', class: 'col-sm-2 control-label'
              .col-sm-6
                = f.text_field :dosage_form, class: 'form-control',  disabled: 'disabled'

            .form-group
              = f.label :specification, '规格', class: 'col-sm-2 control-label'
              .col-sm-6
                = f.text_field :specification, class: 'form-control',  disabled: 'disabled'

            .form-group
              = f.label :high_price, '最高价', class: 'col-sm-2 control-label'
              .col-sm-6
                = f.text_field :high_price, class: 'form-control', disabled: 'disabled'

            .form-group
              = f.label :low_price, '最低价', class: 'col-sm-2 control-label'
              .col-sm-6
                = f.text_field :low_price, class: 'form-control', disabled: 'disabled'

            .form-group
              = f.label :price, '价格', class: 'col-sm-2 control-label'
              .col-sm-6
                = f.text_field :price, class: 'form-control numInput', required: 'required'

            .form-group
              .col-sm-8.col-sm-offset-2
                = f.submit '提交', class: 'btn btn-primary mr20'
                = link_to '取消', admin_v2_weixin_products_path, class: 'btn btn-warning'

#imgModal.modal.fade.bs-example-modal-lg
  .modal-dialog.modal-lg
    .modal-content
      .modal-header style='border-bottom: 0;'
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times
        .modalOBtn
          span#rotRight
            span.fa.fa-rotate-right
            | 向右旋转
          span#rotLeft
            span.fa.fa-rotate-left
            | 向左旋转
      .modal-body#imgBox
        = image_tag('', id: 'rotImg', alt: '', title: '', height: '', width: '100%')

javascript:
  $(document).ready(function(){
    $("input.numInput").each(function(){
      $(this).bind("keyup",function(){
        clearNoNum(this);
      });
    });
  });

  function clearNoNum(obj){
    obj.value = obj.value.replace(/\D/g,"");
  }
