.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 微信管理
    ol.breadcrumb
      li = link_to '商品管理', admin_v2_weixin_products_path
      li.active 创建商品

  .col-lg-2 = link_to '返回列表', admin_v2_weixin_products_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 创建商品
    .ibox-content
      .row
        = form_for [ :admin, :v2, :weixin, @product ], html: {class: 'form-horizontal formBox valForm'} do |f|
          .form-group
            = f.label :name, '药品名', class: 'col-sm-2 control-label'
            .col-sm-6
              = f.text_field :name, class: 'form-control', required: 'required'

          .form-group
            = f.label :medicine_id, '关联药品', class: 'col-sm-2 control-label'
            .col-sm-6
              = f.select :medicine_id, options_for_select( @medicines.pluck(:name, :id)), {}, class: 'chosen-select form-control', required: 'required'

          .form-group
            = f.label :price, '价格', class: 'col-sm-2 control-label'
            .col-sm-6
              = f.text_field :price, class: 'form-control numInput', required: 'required'

          .form-group
            .col-sm-8.col-sm-offset-2
              = f.submit '提交', class: 'btn btn-primary mr20'
              = link_to '取消', admin_v2_weixin_products_path, class: 'btn btn-warning'

javascript:
  $(document).ready(function(){
    $("input.numInput").each(function(){
      $(this).bind("keyup",function(){
        clearNoNum(this);
      });
    });
  });

  function clearNoNum(obj){
    obj.value = obj.value.replace(/\D/g,"");
  }
