table.table.table-striped
  thead
    tr
      /th Item ID
      th 用户
      th 手机号
      th 医院
      th 科室
      th 医生
      th 时间
      th 状态
      th 来源
      th 操作
  tbody
    - prescriptions.each do |item|
      tr
        /td= item.id
        td= item.try(:patient).try(:username)
        td= item.try(:patient).try(:mobile)
        td= item.hospital.try(:name)
        td= item.department.try(:name)
        td= item.prescription_doctor.try(:name)
        td= item.created_at.strftime("%F %T")
        td= pres_state_to_chinese(item.status)
        td= item.area.try(:name)
        td
          = link_to '审核', edit_admin_v2_prescription_path(item)

          - if current_admin_user.super_admin?
            | |
            = link_to '删除', admin_v2_prescription_path(item), method: :delete, data: { confirm: '确定要删除么' }

= paginate prescriptions
