/ .form-group.pres-item-wrapper
/   .col-sm-3
/     = select_tag(:product_name, options_for_select(@product_infos.keys , item.product.try(:name)), prompt: '请选择产品', class: 'productSelect chosen-select form-control')
/   .col-sm-3
/     = ff.select :product_id, options_for_select([], item.product.medicine.try(:specification)), {prompt: '选择规格'}, class: "standardSelect form-control"
/   .col-sm-2
/     = ff.number_field :quantity, class: 'form-control numInput qInput', min: 1, placeholder: '数量', required: 'required'
/   .col-sm-3
/     .input-group
/       = ff.text_field :price, placeholder: '价格', disabled: 'disabled', class: 'form-control priceInput'
/       span.input-group-addon 元
/   .col-sm-1
/     = ff.hidden_field :_destroy, class: 'destroy-input'
/     = link_to '×', 'javascript:;', title: '删除', class: 'delete-pres-item'

.form-group.pres-item-wrapper.nested-fields
  .col-sm-6
    = f.association :product, collection: -> { @products.map { |p| [ p.name_and_specification, p.id.to_s, data: { price: price_in_area( p, @prescription.price_area )  } ] } }, label: false, wrapper: false, input_html: { class: 'productSelect chosen-select form-control' }, include_blank: '请选择药品及其规格...'
  .col-sm-2
    = f.input :quantity, as: :integer, label: false, wrapper: false, input_html: { class: 'form-control numInput qInput', min: 1, placeholder: '数量', required: 'required' }
  .col-sm-3
    .input-group
      = f.input :price, label: false, wrapper: false, input_html: { class: 'form-control priceInput', placeholder: '价格', disabled: 'disabled', readonly: 'readonly' }
      span.input-group-addon 元
  .col-sm-1
    = link_to_remove_association '×', f, class: 'delete-pres-item', title: '删除'
