= select_tag :prescription_prescription_doctor_id, options_for_select(Array(@doctors).collect{|ele| [ele.name, ele.id]} << ['自定义', 'set_my_self'], @prescription.prescription_doctor_id), include_blank: '选择医生', required: 'required', class: 'form-control', name: 'prescription[prescription_doctor_id]'

javascript:
  $('#prescription_prescription_doctor_id').on('change', function () {
    if ($(this).val() == "set_my_self") {
      $('#prescription_prescription_doctor_id').parent().html('<input type="text" class="form-control" name="prescription[prescription_doctor_id]" required="required">')
    }
  });

  $('#prescription_hospital_id').change(function(){
    if($(this).val()!=''){
      var h_id = $("#prescription_hospital_id").val();
      $.ajax({
        method: "GET",
        url: 'get_doctors',
        data: {
          hospital_id: h_id
        },
        success: function(data){
          $(".select_doctors").html(data)
        }
      });
    }
  });
