.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 处方管理
    ol.breadcrumb
      li = link_to '处方列表', admin_v2_prescriptions_path
      li.active 处方审核

  .col-lg-2 = link_to '返回列表', admin_v2_prescriptions_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 处方审核
    .ibox-content
      = simple_form_for [ :admin, :v2,  @prescription ], html: {class: 'form-horizontal prescription-edit-form formBox valForm'} do |f|
        .row
          .col-sm-5.pull-right
            .imgBox
              = link_to(image_tag(@prescription.image.url, alt: '', title: '', width: '100%'), '#imgModal', data: {toggle: 'modal', target: '#imgModal'})

          .col-sm-7
            .form-group
              label.col-sm-3 提交者姓名
              .col-sm-9= @prescription.patient.try(:username)
            .form-group
              label.col-sm-3 提交日期
              .col-sm-9= @prescription.created_at.to_date
            .form-group
              label.col-sm-3 手机号
              .col-sm-9= @prescription.patient.try(:mobile)
            .form-group
              label.col-sm-3 来源
              .col-sm-9= @prescription.user_agent
            .form-group
              label.col-sm-3 医院
              .col-sm-5
                = f.select :hospital_id, options_for_select(@hospitals.collect { |ele| [ele.name, ele.id] }, @p_hospital_id), {include_blank: '选择医院'}, class: 'form-control chosen-select', required: 'required'
              .col-sm-4
                = select_tag :department_id, options_for_select(Department.all.collect { |ele| [ele.name, ele.id] } << ['自定义', 'set_my_self'], @p_department_id), include_blank: '选择科室', class: 'form-control chosen-select', name: 'prescription[department_id]'
            .form-group
              label.col-sm-3 医生
              .col-sm-5.select_doctors
                = render 'select_doctor'
            .form-group
              label.col-sm-3 处方日期
              .col-sm-5
                .input-group.date
                  span.input-group-addon
                    i.fa.fa-calendar
                  = f.input_field :pres_date, required: 'required', readonly: true, class: 'form-control'
            .form-group
              label.col-sm-3 诊断
              .col-sm-9
                = f.input :diagnosis, as: :text, label: false, wrapper: false, :input_html => { class: 'form-control', rows: 6, maxlength: '200' }

        .row
          .col-sm-12

            .hr-line-dashed

            .pres-item-list
              h4 处方药品单
              .presItem
                = f.simple_fields_for :pres_items do |item|
                  = render 'pres_item_fields', :f => item
                .links
                  = link_to_add_association '增加一个', f, :pres_items, class: 'btn btn-info'

            .hr-line-dashed

            .orderTable
              h4 既往处方列表
              table.table.table-striped
                thead
                  tr
                    th 处方时间
                    th 医院
                    th 科室
                    th 医生
                    th 查看
                tbody
                  - 10.times.each do |i|
                    tr
                      td
                      td
                      td
                      td
                      td

            .hr-line-dashed

            .pres-item-remark
              h4 备注
              .remark = @prescription.note

            .hr-line-dashed

        .row
          .col-sm-12
            .form-group.txtC
              = f.hidden_field :status

              = f.submit '通过并生成订单', class: 'btn btn-primary mr20', id: 'prescription-approval-btn'
              = link_to '不通过', '#declined-dialog', class: 'btn btn-warning', data: { toggle: 'modal', target: '#declined-dialog' }

              = f.hidden_field :declined_reason

/ .form-group.pres-item-wrapper-temp.hidden
/   .col-sm-3
/     = select_tag "prescription[pres_items_attributes][INDEX][product_id]", options_for_select( @product_infos.to_a ), {prompt: '请选择产品', class: 'productSelect form-control' }
/   .col-sm-3
/     = select_tag(:product_id, options_for_select([]), prompt: "规格", class: "standardSelect form-control")
/   .col-sm-2
/     = number_field_tag "prescription[pres_items_attributes][INDEX][quantity]", nil, min: 1, placeholder: '数量', required: 'required', class: 'form-control numInput qInput'
/   .col-sm-3
/     .input-group
/       = text_field_tag :price, nil, placeholder: '价格', disabled: 'disabled', class: 'form-control priceInput'
/       span.input-group-addon 元
/   .col-sm-1
/     = hidden_field_tag "prescription[pres_items_attributes][INDEX][_destroy]", class: 'destroy-input'
/     = link_to '×', 'javascript:;', title: '删除', class: 'delete-pres-item'

#declined-dialog.modal
  .modal-dialog
    .modal-content
      .modal-header style='border-bottom: 0;'
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times
        h4.modal-title
         | 拒绝理由
      .modal-body
        = text_area_tag :declined_reason, @prescription.declined_reason, rows: 10, maxlength: 53, class: 'form-control'
      .modal-footer style='border-top: 0;'
        button.btn.btn-primary#confirm-declined-btn type='button'  确定

#imgModal.modal.fade.bs-example-modal-lg
  .modal-dialog.modal-lg
    .modal-content
      .modal-header style='border-bottom: 0;'
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times
        .modalOBtn
          span#rotRight
            span.fa.fa-rotate-right
            | 向右旋转
          span#rotLeft
            span.fa.fa-rotate-left
            | 向左旋转
      #imgBox.modal-body
        = image_tag(@prescription.image.url, id: 'rotImg', alt: '', title: '', height: '', width: '100%')

javascript:
  $(document).ready(function(){
    $('.input-group.date').datepicker({
      todayBtn: "linked",
      keyboardNavigation: false,
      forceParse: false,
      startDate: -Infinity,
      endDate : new Date(),
      todayHighlight: true,
      format: 'yyyy-mm-dd',
      language: 'zh',
      autoclose: true
    });

    $('#department_id').on('change', function () {
      if ($(this).val() == 'set_my_self') {
        $('#department_id').parent().html('<input type="text" class="form-control" name="prescription[department_id]">')
      }
    });

    $('.presItem').on('cocoon:after-insert', function() {
      $(".chosen-select").chosen({no_results_text: "没有相应结果："});

      $('.pres-item-wrapper').find('.productSelect').change(function(){
        var pPrice = $(this).find('option:selected').data('price');
        $(this).parents('.pres-item-wrapper').find('.priceInput').val(pPrice);
        $(this).parents('.pres-item-wrapper').find('.qInput').val(1);
      });

      $("input.qInput").each(function(){
        $(this).bind("keyup change",function(){
          var thisV = $(this).val();
          var oPrice = $(this).parent().prev().find(".productSelect").find('option:selected').data('price');

          $(this).parent().next().find(".priceInput").val(oPrice * thisV);
        });
      });
    })

    $('.pres-item-wrapper').find('.productSelect').change(function(){
      var pPrice = $(this).find('option:selected').data('price');
      $(this).parents('.pres-item-wrapper').find('.priceInput').val(pPrice);
      $(this).parents('.pres-item-wrapper').find('.qInput').val(1);
    });

    $("input.qInput").each(function(){
      $(this).bind("keyup change",function(){
        var thisV = $(this).val();
        var oPrice = $(this).parent().prev().find(".productSelect").find('option:selected').data('price');

        $(this).parent().next().find(".priceInput").val(oPrice * thisV);
      });
    });

    $('.priceInput').each(function(){
      var tSelect = $(this).parents('.pres-item-wrapper').find('.productSelect');
      var tQuantity = $(this).parents('.pres-item-wrapper').find('.qInput').val();
      var tPrice = tSelect.find('option:selected').data('price');

      if (tPrice && tQuantity){
        $(this).val(tPrice * tQuantity);
      }
      else {
        $(this).val('');
      }
    });

    $('#prescription-approval-btn').click(function () {
      $('#prescription_status').val('approved');
      $('.prescription-edit-form').submit();
    });

    $('#confirm-declined-btn').click(function () {
      $('#prescription_declined_reason').val($('#declined_reason').val());
      $('#prescription_status').val('declined');
      $('.prescription-edit-form').submit();
    });

  });
