.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 处方管理
    ol.breadcrumb
      li.active 处方列表

  .col-lg-2

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    ul.nav.nav-tabs.tabNav
      li.active
        a data-toggle="tab" href="#tab-1" aria-expanded="true"
          | 待审核
          span.label.label-info.pull-right = @prescriptions[:pending].total_count
      li
        a data-toggle="tab" href="#tab-2" aria-expanded="false"
          | 已通过
          span.label.label-info.pull-right = @prescriptions[:approved].total_count
      li
        a data-toggle="tab" href="#tab-3" aria-expanded="false"
          | 已拒绝
          span.label.label-info.pull-right = @prescriptions[:declined].total_count

    .tab-content
      #tab-1.ibox-content.tab-pane.active
        = render partial: 'list', locals: { prescriptions: @prescriptions[:pending] }

      #tab-2.ibox-content.tab-pane
        = render partial: 'list', locals: { prescriptions: @prescriptions[:approved] }

      #tab-3.ibox-content.tab-pane
        = render partial: 'list', locals: { prescriptions: @prescriptions[:declined] }
