#distribution.detailPage
  ul.orderTag.selectTag.w50
    li.current 快递上门
    li#getLocation 药房提药

  .distribution.selectCon
    = simple_form_for :order, url: update_shipment_mobiles_order_path, method: :put, html: {class: 'valForm formBox', id: 'distr_form'} do |f|
      .addressMan
        .lineTag
          .tt 收货地址管理
        .addressSelect
          .selectArr
            = select_tag :address, options_for_select(@locations), { class: 'form-select', id: 'address' }
      .addAddress = button_tag '新增收货地址', type: 'button', class: 'addAddress_but'

      .paymentMan
        .lineTag
          .tt 付款方式
        .paySelect
          .selectArr
            = select_tag :order_payment_method, options_for_select([["现金支付", "现金支付"],["刷卡支付", "刷卡支付"]]), label: false, wrapper: false, class: 'form-select', name: 'order[payment_method]'

      .datetimeMan
        .lineTag
          .tt 收货时间
        .datetimeSelect.clearfix
          .w50p.bfL
            .selectArr
              / = text_field_tag :ship_time_temp, nil, placeholder: '请选择收货日期', class: 'form-input hide'
              / = f.date_field :ship_time, label: false, wrapper: false, html5: true, class: "datatime_input hide"
              = select_tag :order_ship_time, nil, label: false, wrapper: false, class: 'form-select', name: 'order[ship_time]'
          .w50p.bfL
            .selectArr
              = select_tag :time_select, options_for_select([['11:00以前', '11:00以前'],['11:00-15:00', '11:00-15:00'],['15:00-17:00', '15:00-17:00']]), label: false, wrapper: false, class: 'form-select', name: 'time_select'

      = hidden_field_tag :token, @order.patient.private_token
      = f.input :shipment_method1, as: :hidden, label: false, wrapper: false, input_html: { value: '快递' }

      .footSub.clearfix
        = link_to "返回", gen_auth_url("mobiles/orders/#{@order.id}/edit"), class: "backBtn"
        = f.button :button, class: "subBtn" do
          span.tt 确定

  .distribution.selectCon.hide
    = simple_form_for :order, url: update_shipment_mobiles_order_path, method: :put, html: {class: 'valForm formBox'} do |f|
      .addressMan
        .lineTag
          .tt 请选择药房

        .loadHospital 正在获取药房信息，请耐心等待～

        ul.gpsAddList
          / li.clearfix
          /   .img.bfL
          /   .info
          /     h5.name
          /     p
          /     p 距离您300米
          /   input.radio type="radio" name="order[temp_shipment_address]" value="aaa"

      = f.input :shipment_method2, as: :hidden, label: false, wrapper: false, input_html: { value: '药店取药' }

      .footSub.clearfix
        = link_to "返回", gen_auth_url("mobiles/orders/#{@order.id}/edit"), class: "backBtn"
        = f.button :button, class: "subBtn" do
          span.tt 确定

#addressEdit.detailPage.hide
  .formBox
    .box
      .form-group
        = text_field_tag :name, nil, placeholder: '联系人姓名', class: 'form-input', required: 'required'

      .form-group
        = telephone_field_tag :phone, nil, placeholder: '手机号码', class: 'form-input', required: 'required'
    .box
      .form-group
        .selectArr
          = select_tag 'province', options_for_select(Area.provinces.collect{|ele| [ele.name, ele.id]}), {class: 'form-select', id: 'province', prompt: '请选择省份'}

      .form-group
        .selectArr
          = select_tag :city_id, nil, {class: 'form-select', id: 'city', prompt: '请选择城市'}

      .form-group
        = text_field_tag :address1, nil, placeholder: '详细地址', class: 'form-input', required: 'required'

      .form-group
        = number_field_tag :zip_code, nil, placeholder: '邮编', class: 'form-input'

  .footSub.clearfix
    = link_to "返回", "javascript:;", class: "backBtn"
    = button_tag(type: "button", class: "subBtn", id: "sub_new_address") do
      span.tt 确定

javascript:
  $(document).ready(function(){
    $(".selectTag").find("li").click(function(){
      var tagIndex = $(this).index();
      $(".selectTag").find("li").removeClass("current");
      $(this).addClass("current");
      $(".selectCon").hide();
      $(".selectCon").eq(tagIndex).show();
    });

    var currentdate = new Date(),
        futuredate = new Date();

    //$('#order_ship_time').attr('min', convertToISO(currentdate));
    //futuredate.setDate(futuredate.getDate() + 7);
    //$('#order_ship_time').attr('max', convertToISO(futuredate));

    var oToday = currentdate.getDate();
    for (var i=0; i<7; i++){
      currentdate.setDate(oToday + i);

      $('#order_ship_time').append('<option value='+ convertToISO(currentdate) +'>'+ convertToISO(currentdate) +'</option>');
    }

    /*
    $('#order_ship_time').on('change',function(){
      if ($(this).val() < $(this).attr('min')){
        alert('请选择合适的日期！');
        $(this).val($(this).attr('min'));
      }
      else if ($(this).val() > $(this).attr('max')){
        alert('请选择一周之内的日期！');
        $(this).val($(this).attr('max'));
      }
    });

    $('#ship_time_temp').focus(function(){
      $(this).hide();
      $('#order_ship_time').show().focus();
    });
    */

    function convertToISO(timebit) {
      timebit.setHours(0, -timebit.getTimezoneOffset(), 0, 0);
      // remove GMT offset
      var isodate = timebit.toISOString().slice(0,10);
      // format convert and take first 10 characters of result
      return isodate;
    }

    var regPhone = /^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}$|17[0-9]{9}$|18[0-9]{9}$/; //验证手机号码
    $(".addAddress_but").click(function(){
      $("#distribution").hide();
      $("#addressEdit").show();

      $("#addressEdit").find(".backBtn").click(function(){
        $("#addressEdit").hide();
        $("#distribution").show();
      });
    });

    $("#sub_new_address").click(function(){
      if ($('#name').val() == ''){
        alert('请填写您的姓名！');
        return false;
      }

      if ($('#phone').val() == ''){
        alert('请填写您的手机号码！');
        return false;
      }
      else if ($('#phone').val() != '' && !regPhone.test($('#phone').val())){
        alert('请填写正确的手机号码！');
        $('#phone').val('');
        $('#phone').focus();
        return false;
      }

      if ($('#province').val() == ''){
        alert('请选择所在省份！');
        return false;
      }

      if ($('#city').val() == ''){
        alert('请选择所在城市！');
        return false;
      }

      if ($('#address1').val() == ''){
        alert('请填写详细地址！');
        return false;
      }

      $.ajax({
        method: 'POST',
        url: '/api/addresses',
        data: {
          name: $('#name').val(),
          phone: $('#phone').val(),
          state: $('#province').find('option:selected').text(),
          city: $('#city').find('option:selected').text(),
          address1: $('#address1').val(),
          zip_code: $('#zip_code').val(),
          token: $('#token').val()
        },
        success: function(data){
          if (data.status == 'ok'){
            $("#addressEdit").hide();
            $("#distribution").show();
            $("#address").append("<option value=" + data.ad[1]+ " selected='selected'>"+ data.ad[0] +"</option>");
          }
          else {
            alert('请重新填写地址信息！');
          }
        }
      });

    });

    $('#distr_form').submit(function(){
      if ($('#address').val() == ''){
        alert('请添加您的收货地址！');
        return false;
      }
      if ($('#order_ship_time').val() == ''){
        alert('请选择收货日期！');
        return false;
      }
    });

    /*省市选择*/
    var province = $('#province');
    province.on('change', function(e){
      e.preventDefault();

      var city = $('#city');
      var pid = $(this).val();
      var url = '/api/areas/get_cities?province_id=' + pid;

      $.get(url, function(d){
        if(d.status == 'ok'){
          city.empty();
          $.each(d.cities, function(index, value){
            city.append("<option value=" + value[1]+ ">"+ value[0] +"</option>");
          });
        }else{
          alert(d.error_msg);
        }
      });
    });

  });

  var shareUrlLink = gon.info['url'];
  var shareTitle = "上益药，买好药";
  var shareIconPath = "http://sphapp.lankr.cn#{ image_path('mobiles/icon.jpg') }";
  var shareDesc = "上益药，买好药";

  wx.ready(function () {
    // 分享到朋友圈
    wx.onMenuShareTimeline({
      title: shareTitle, // 分享标题
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享给朋友
    wx.onMenuShareAppMessage({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享到QQ
    wx.onMenuShareQQ({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享到腾讯微博
    wx.onMenuShareWeibo({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 7 地理位置接口
    // 7.2 获取当前地理位置
    document.querySelector('#getLocation').onclick = function () {
      wx.getLocation({
        success: function (res) {
          var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
          var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
          var speed = res.speed; // 速度，以米/每秒计
          var accuracy = res.accuracy; // 位置精度

          $.ajax({
            method: 'GET',
            url: '/api/drug_stores/search',
            data: {
              longitude: longitude,
              latitude: latitude
            },
            success: function(data){
              $('.loadHospital').hide();
              $('ul.gpsAddList').empty();
              for(var i = 0, n = data['datas'].length; i < n; i ++) {
                $('ul.gpsAddList').append('<li class="clearfix"><div class="img bfL">'+ data['datas'][i]['_image'] +'</div><div class="info"><h5 class="name">'+ data['datas'][i]['_name'] +'</h5><p>'+ data['datas'][i]['_address'] +'</p><p>距离您'+ data['datas'][i]['_distance'] +'米</p></div><input type="radio" name="order[temp_shipment_address]" class="radio" value="'+ data['datas'][i]['_address'] +'" /></li>');
              }
            }
          });

        },
        cancel: function (res) {
          alert('用户拒绝授权获取地理位置');
        }
      });
    };

  });
