.detailPage
  .orderDetail
    .info
      .list
        h5.tt 我的订单详情
        p 医院：#{@order.prescription.hospital.try(:name)}
        p 科室：#{@order.prescription.department_name}
        p 医生：#{@order.prescription.prescription_doctor_name}
      .photo = image_tag(@order.prescription.image.url, alt: "", width: "108", height: "164")
    .remark
      h5.tt 医嘱：
      p #{@order.prescription.diagnosis}

  = hidden_field_tag :token, @order.patient.private_token

  = simple_form_for [ :mobiles, @order ], html: {class: 'valForm formBox orderForm'} do |f|
    .orderOpt
      .tag.clearfix
        h5.tt.bfL 订单号：#{@order.NO}
        .price.bfR
          | 共计 ￥
          span.num.totalPrice #{@order.total}
          | 元
      ul.orderOptList
        - @order.line_items.each do |item|
          li.clearfix
            .info.bfL
              .name #{item.product_name}
              .style #{item.product.medicine.try(:common_name)}
              .price
                | ￥
                span.num.itemPrice #{item.price}
                | 元
            .opt.bfR
              .btn.add.bfL +
              .input.bfL
                input.qInput.bfL type="number" max="#{item.max}" value="#{item.quantity}" name="item[line_items][#{item.id}]" readonly="readonly"
                .unit.bfL 盒
              .btn.reduce.bfL —
            .ttPrice 0

    .addressMan
      .lineTag
        .tt 配送信息
      = link_to edit_shipment_mobiles_order_path, class: "detail" do
        p
          | 配送方式：
          span.ship_method #{@order.receiver_info.shipment_method}
        p
          | 支付方式：
          span.pay_method #{@order.receiver_info.payment_method}
        p
          | 收货人：
          span.ship_name #{@order.receiver_info.name}
        p
          | 手机：
          span.ship_phone #{@order.receiver_info.phone}
        p
          | 地址：
          span.ship_address #{@order.receiver_info.address}
        p
          | 收货时间：
          span.ship_time #{DateTime.parse(@order.ship_time).strftime("%y/%m/%d %H:%M") if @order.ship_time}

    .couponMan
      .lineTag
        .tt 优惠券
      .paySelect
        .selectArr
          = f.input :coupon_id, collection: @order.patient.coupon_redemptions.valid.map(&:coupon), label_method: :amount, value_method: :id, label: false, wrapper: false, include_blank: "不使用优惠券", input_html: { class: 'form-select' }

    .footSub.clearfix
      = link_to "返回", gen_auth_url("mobiles/users/my_orders"), class: "backBtn"
      = f.button :button, class: "subBtn", id: "sub_order" do
        span.price
          span 共计￥
          span#total.num.totalPrice #{@order.total}
          span 元
        span.tt 提交

javascript:
  $(document).ready(function(){
    var totalPrice = parseInt($("#total").html());
    $("#order_coupon_id").on("change", function(){
      var couponVal = $(this).val();
      var couponPrice = parseInt($(this).find("option:selected").text());

      if (couponVal == ''){
        $("#total").html(totalPrice);
        $('#sub_order').removeAttr('disabled');
        $('#sub_order').removeClass('disabled');
      }
      else {
        $.ajax({
          method: 'POST',
          url: '/api/orders/verify_coupon',
          data: {
            coupon_id: $(this).find('option:selected').val(),
            total: totalPrice,
            token: $('#token').val()
          },
          success: function(data){
            if (data.status == 'ok'){
              if (data.result == true) {
                $('#sub_order').removeAttr('disabled');
                $('#sub_order').removeClass('disabled');
                $("#total").html(totalPrice - couponPrice);
              } else {
                $('#sub_order').attr('disabled','disabled');
                $('#sub_order').addClass('disabled');
                alert('对不起，您选择的优惠券不符条件无法使用，请重新选择优惠券。');
              }
            }
          }
        });
      }

    });

    $('.orderForm').submit(function(){
      if($.trim($(this).find('.ship_method').html()) == ''){
        alert('请选择您的配送方式！');
        return false;
      }
      else if($.trim($(this).find('.ship_method').html()) == '快递'){
        if($.trim($(this).find('.pay_method').html()) == ''){
          alert('请选择您的支付方式！');
          return false;
        }
        if($.trim($(this).find('.ship_name').html()) == ''){
          alert('请填写您的收货人信息！');
          return false;
        }
        if($.trim($(this).find('.ship_phone').html()) == ''){
          alert('请填写您的手机号码！');
          return false;
        }
        if($.trim($(this).find('.ship_time').html()) == ''){
          alert('请填写您的收货时间！');
          return false;
        }
      }
      if($.trim($(this).find('.ship_address').html()) == ''){
        alert('请填写您的地址！');
        return false;
      }
    });

    $(".opt").find(".add").each(function(){
      $(this).click(function(){
        numChange($(this),1);
        totalChange();
      });
    });

    $(".opt").find(".reduce").each(function(){
      $(this).click(function(){
        $(this).parents(".orderOptList > li").find(".add").removeClass("disabled");
        numChange($(this),-1);
        totalChange();
      });
    });
    totalChange();
  });

  function numChange(obj,n){
    var btnF = obj.parents(".orderOptList > li");
    var optInput = btnF.find(".qInput");
    var optInputMax = optInput.attr("max");
    var optQ = parseInt(optInput.val());

    if (n < 0 && optQ <= 1) return false;

    if (n > 0 && optQ >= optInputMax){
      obj.addClass("disabled");
      return false;
    }
    obj.parents(".orderOptList > li").find(".qInput").val(optQ += n);
  }

  function totalChange(){
    $(".totalPrice").each(function(){
      var arr = $(".ttPrice");
      ttChange();
      sum($(".ttPrice"));
      $(".totalPrice").html(sum($(".ttPrice")));
    });
  }

  function ttChange(){
    $(".ttPrice").each(function(){
      var thisPar = $(this).parents("ul.orderOptList > li");
      var thisP = parseInt(thisPar.find(".itemPrice").html());
      var thisQ = parseInt(thisPar.find(".qInput").val());
      $(this).html(thisP * thisQ);
    });
  }

  function sum(arguments){
    var r = 0;
    for (var i=0; i<arguments.length; i++ ){
      r = parseInt(arguments.eq(i).html()) + r;
    }
    return r;
  }
