ul.crumbsNav.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心
  li
    = link_to gen_auth_url('mobiles/users/my_orders') do
      span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
      | 我的订单
  li
    span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
    | 订单详情

.detailPage
  .orderStatus
    .icon
      span.icon-order
    .info
      h5.tt 已发货
      p.price
        | 共计：￥
        span.num #{@order.total}
        | 元
  .orderDetail
    .info
      .list
        h5.tt 我的订单详情
        p 医院：#{@order.prescription.hospital.try(:name)}
        p 科室：#{@order.prescription.department_name}
        p 医生：#{@order.prescription.prescription_doctor_name}
      .photo = image_tag(@order.prescription.image.url, alt: "", width: "108", height: "164")
    .remark
      h5.tt 医嘱：
      p #{@order.prescription.diagnosis}

  .orderOpt
    .tag.clearfix
      h5.tt.bfL 订单号：#{@order.NO}
      .price.bfR
        | 共计 ￥
        span.num #{@order.total}
        | 元
    ul.orderOptList
      - @order.line_items.each do |item|
        li.clearfix
          .info.bfL
            .name #{item.product_name}
            .style #{item.product.medicine.try(:common_name)}
            .price
              | ￥
              span.num #{item.price}
              | 元
          .quantity
            span.num #{item.quantity}
            | 盒
