@import "bsthemes/plugins/iCheck/custom";
@charset "utf-8";

/* CSS Document */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form { margin: 0; }
ol, ul, textarea { margin: 0; padding: 0; }
body { font: 14px Arial, Helvetica, sans-serif; line-height: normal !important; -webkit-text-size-adjust: none; color: #333; background-color: #dfe5e9; }
dl, dt, dd, ul, ol, li { list-style-type: none; }
h5, h6 { font-size: 100%; font-weight: normal; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }
select, input { font-size: 12px; vertical-align: middle; _vertical-align: baseline; outline: none; }
input { padding: 0; border-radius: 0; -webkit-appearance: none; }
input[type="checkbox"] { -webkit-appearance: checkbox; }
input[type="radio"] { -webkit-appearance: radio; }
textarea { resize: none; outline: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: none; }
a { color: #333; text-decoration: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; padding: 0; }
input[type=number]::-webkit-outer-spin-button, input[type=number]::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
input[type=number] { -moz-appearance: textfield; }

/*firefox input text-align center*/
.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.clearfix { zoom: 1; }

/*twinkle keyframes*/
@-webkit-keyframes twinkle {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}
@-moz-keyframes twinkle {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}
@-o-keyframes twinkle {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}
@-ms-keyframes twinkle {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}
@keyframes twinkle {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}

/*cercle keyframes*/
@-webkit-keyframes cercle {
  0% { top: -10%; left: -10%; }
  10% { top: -10%; left: 50%; }
  20% { top: -10%; left: 60%; }
  30% { top: 50%; left: 60%; }
  50% { top: 60%; left: 60%; }
  70% { top: 60%; left: 50%; }
  80% { top: 60%; left: -10%; }
  90% { top: 50%; left: -10%; }
  100% { top: -10%; left: -10%; }
}
@-moz-keyframes cercle {
  0% { top: -10%; left: -10%; }
  10% { top: -10%; left: 50%; }
  20% { top: -10%; left: 60%; }
  30% { top: 50%; left: 60%; }
  50% { top: 60%; left: 60%; }
  70% { top: 60%; left: 50%; }
  80% { top: 60%; left: -10%; }
  90% { top: 50%; left: -10%; }
  100% { top: -10%; left: -10%; }
}
@-o-keyframes cercle {
  0% { top: -10%; left: -10%; }
  10% { top: -10%; left: 50%; }
  20% { top: -10%; left: 60%; }
  30% { top: 50%; left: 60%; }
  50% { top: 60%; left: 60%; }
  70% { top: 60%; left: 50%; }
  80% { top: 60%; left: -10%; }
  90% { top: 50%; left: -10%; }
  100% { top: -10%; left: -10%; }
}
@-ms-keyframes cercle {
  0% { top: -10%; left: -10%; }
  10% { top: -10%; left: 50%; }
  20% { top: -10%; left: 60%; }
  30% { top: 50%; left: 60%; }
  50% { top: 60%; left: 60%; }
  70% { top: 60%; left: 50%; }
  80% { top: 60%; left: -10%; }
  90% { top: 50%; left: -10%; }
  100% { top: -10%; left: -10%; }
}
@keyframes cercle {
  0% { top: -10%; left: -10%; }
  10% { top: -10%; left: 50%; }
  20% { top: -10%; left: 60%; }
  30% { top: 50%; left: 60%; }
  50% { top: 60%; left: 60%; }
  70% { top: 60%; left: 50%; }
  80% { top: 60%; left: -10%; }
  90% { top: 50%; left: -10%; }
  100% { top: -10%; left: -10%; }
}

/*
**styles reset end && page style begin**
*/

/*banner style*/
.bannerIndex { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #96c258; }
.bannerBox { width: 100%; height: 100%; padding-top: 20%; background-color: #96c258; }
.bannerImg { margin-bottom: 10px; }
.bannerImg img { border-bottom: 1px solid #b3b3b3; }
.newsInfo { line-height: 1.6em; padding: 10px; color: #666; }
.newsInfo .tt { font-size: 16px; font-weight: bold; color: #333; }
.newsInfo .time { margin-bottom: 20px; font-size: 12px; }

/*apps style*/
.appsBg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #f2f2f2; }
.appsBg .logo1 { position: absolute; top: 16px; left: 16px; width: 22%; }
.appsBg .logo2 { position: absolute; top: 16px; right: 16px; width: 22%; }
.appsBg .info { line-height: 2.2em; margin-top: 24%; text-align: center; color: #0073c8; }
.appsBg .info .title { font-weight: bold; font-size: 2.2em; }
.appsBg .info .tag { font-size: 1.2em; }
.appsBg .img { margin-top: 6%; text-align: center; }
.appsBg .downloadBtn { }
.appsBg .foot { position: absolute; bottom: 0; left: 0; width: 100%; line-height: 2em; text-align: center; color: #0073c8; }
.appsBg #appDlLink { display: block; width: 160px; height: 48px; line-height: 48px; margin: 8% auto 0; border-radius: 10px; text-align: center; font-size: 1.4em; font-weight: bold; color: #fff; background-color: #0066c3; }
.appsBg #appDlLink .icon { display: inline-block; line-height: 48px; margin-right: 8px; font-size: 20px; font-weight: bold; vertical-align: bottom; }
#popweixin { display: none; position: fixed; z-index: 1; width: 100%; height: 100%; line-height: 2em; padding-top: 30%; text-align: center; font-size: 20px; color: #fff; background-color: rgba(0, 0, 0, 0.5); background-image: image_url('apps/arr_wx.png'); background-repeat: no-repeat; background-position: 90% 10px; }

/*reg style*/
.regBg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #f6f6f6; }
.regBg .logo { margin: 10% 0; text-align: center; }
.formBox .box { margin: 10px 0; border-top: 1px solid #dedede; background-color: #fff; }
.formBox .form-group { padding: 10px; border-bottom: 1px solid #dedede; background-color: #fff; }
.formBox .form-group:first-child { border-top: 1px solid #dedede; }
.formBox .form-group.sub { border-bottom: none; background-color: transparent; }
.formBox .form-group .w70p { width: 70%; }
.formBox .form-group .w30p { width: 30%; }
.formBox .form-group .w60 { width: 60px; }
.formBox .form-group .w_offSet60 { margin-left: 60px; }
.formBox .form-group .form-input { width: 100%; height: 30px; line-height: 30px; padding-right: 30px; border: none; font-size: 1.1em; background: image_url('mobiles/icon_input.png') no-repeat right center; background-size: 24px auto; }
.formBox .form-group .valid_code_but { width: 100%; height: 30px; line-height: 28px; border: none; border-radius: 8px; text-align: center; color: #fff; background-color: #0079c9; }
.formBox .form-select { width: 100%; height: 32px; line-height: 32px; border: none; }
.selectArr { background: image_url('mobiles/arr.png') no-repeat right center; background-size: 6px auto; }
.selectArr .form-select { background: transparent; }
.formBox .form-group .subBtn { width: 100%; height: 40px; line-height: 38px; border: none; border-radius: 8px; text-align: center; font-size: 16px; color: #fff; background-color: #0079c9; }
.formBox .form-group .valid_code_but.disabled, .formBox .form-group .subBtn.disabled { background-color: #a5a5a5; }
.tipInfo { padding: 10px; margin-top: 20px; font-size: 16px; color: #cb0f0f; }
.tipInfo a.link_btn { display: block; width: 100%; height: 36px; line-height: 36px; margin-top: 16px; border-radius: 8px; text-align: center; font-size: 16px; color: #fff; background-color: #0079c9; }
.invationTT { height: 30px; line-height: 30px; font-size: 1.1em; color: #0079c9; }

/*crumbsNav style*/
.crumbsNav { padding: 0 6px; }
.crumbsNav.borderB { border-bottom: 1px solid #b3b3b3; }
.crumbsNav li { float: left; height: 40px; line-height: 40px; padding: 0 6px; color: #686868; }
.crumbsNav li a { display: block; height: 40px; line-height: 40px; color: #0079c9; }
.crumbsNav li .icon { display: inline-block; margin-right: 6px; }
.crumbsNav li .icon img { vertical-align: middle; }

/*navBar style*/
.navBar { position: fixed; bottom: 0; left: 0; width: 100%; border-top: 1px solid #b3b3b3; }
.navBar li { float: left; width: 33.33%; border-right: 1px solid #b3b3b3; text-align: center; }
.navBar li:last-child { border-right: none; }
.navBar li a { display: block; height: 48px; line-height: 48px; text-align: center; color: #343434; background-color: #fff; }
.navBar li a .icon { display: inline-block; margin-right: 6px; }
.navBar li a .icon img { vertical-align: middle; }

/*prescriptions style*/
.prescriptionsBg { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background-color: #f6f6f6; }
.prescriptionsBg .logo { margin: 10% auto; text-align: center; }
.prescriptionsBg .citySelect { padding: 6px 10px; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; background-color: #fff; }
.prescriptionsBg .form-select { width: 100%; height: 32px; line-height: 32px; border: none; }
.prescriptionsBg #photoBtn { display: block; width: 130px; height: 130px; margin: 10% auto 0; border: none; border-radius: 50%; text-align: center; background-color: #0079c9; }
.prescriptionsBg #photoBtn .icon { line-height: 130px; font-size: 80px; color: #fff; }
.prescriptionsBg .info { line-height: 1.8em; margin-top: 20px; text-align: center; }
.prescriptionsBg .info .tt { margin-bottom: 16px; font-size: 1.6em; color: #0079c9; }
.preview_img { margin-top: 20%; text-align: center; }
.preview_img img { border-radius: 8px; overflow: hidden; }
.animationImg { position: relative; width: 74px; height: 53px; margin: 20px auto 0; }
.animationImg .img { width: 74px; height: 53px; }
.animationImg .icon { position: absolute; width: 68px; height: 50px; top: -10%; left: -10%; background: image_url('mobiles/prescription/search_img.png') no-repeat left top; background-size: cover; -webkit-animation: cercle 2s ease-in-out infinite; -moz-animation: cercle 2s ease-in-out infinite; -o-animation: cercle 2s ease-in-out infinite; -ms-animation: cercle 2s ease-in-out infinite; animation: cercle 2s ease-in-out infinite; }
.prescriptionsBg .button { margin-top: 40px; text-align: center; }
.prescriptionsBg .button .closeBtn { width: 120px; height: 32px; line-height: 30px; border: none; border-radius: 8px; text-align: center; font-size: 14px; color: #fff; background-color: #0079c9; }
.tip_back { position: absolute; top: 0; left: 10px; width: 96px; height: 52px; -webkit-animation: twinkle 2s ease-in-out infinite; -moz-animation: twinkle 2s ease-in-out infinite; -o-animation: twinkle 2s ease-in-out infinite; -ms-animation: twinkle 2s ease-in-out infinite; animation: twinkle 2s ease-in-out infinite; }

/*user_center style*/
.u_centerList { margin-bottom: 10px; border-top: 1px solid #dedede; }
.u_centerList li { border-bottom: 1px solid #dedede; background-color: #fff; }
.u_centerList li a { display: block; line-height: 24px; padding: 10px; background: image_url('mobiles/arr.png') no-repeat 96% center; background-size: 6px auto; }
.u_centerList li a .icon { display: inline-block; margin-right: 6px; text-align: center; }
.u_centerList li a .icon img { vertical-align: middle; }
.u_centerList li .num { height: 18px; line-height: 18px; padding: 0 8px; margin: 3px 0 0 6px; border: 1px solid #0079c9; border-radius: 4px; font-size: 0.8em; color: #0079c9; }
.u_centerList li .icon.recipe { padding-left: 30px; margin-right: 6%; color: #fca601; background: image_url('mobiles/user/icon_v_done.png') no-repeat left center; background-size: 24px auto; }

/*orders style*/
ul.orderTag { height: 44px; background-color: #fbfbfb; }
ul.orderTag li { position: relative; float: left; height: 44px; line-height: 44px; border-right: 1px solid #b3b3b3; border-bottom: 1px solid #b3b3b3; text-align: center; font-size: 1.1em; color: #999; }
ul.orderTag li:last-child { border-right: none; }
ul.orderTag.w33 li { width: 33.33%; }
ul.orderTag.w25 li { width: 25%; }
ul.orderTag.w50 li { width: 50%; }
ul.orderTag li.current { border-bottom: 1px solid #dfe5e9; font-weight: bold; color: #0079c9; background-color: #dfe5e9; }
ul.orderTag li .num { position: absolute; top: 8px; line-height: normal; margin-left: 2px; font-size: 0.7em; font-weight: normal; }
ul.orderList { padding: 10px 0; }
ul.orderList > li { margin-bottom: 10px; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; background-color: #fff; }
ul.orderList > li .title { border-bottom: 1px solid #dedede; }
ul.orderList > li .title .tt { height: 32px; line-height: 32px; padding-left: 16px; }
ul.orderList > li .title .status { width: 90px; height: 32px; line-height: 32px; text-align: center; font-weight: bold; color: #fff; }
ul.orderList > li .title .status.warning { background-color: #e87979; }
ul.orderList > li .title .status.pass { background-color: #7ac990; }
ul.orderList > li .title .status.orange { background-color: #f2aa5d; }
ul.orderList > li .title .status.blue { background-color: #5daef2; }
ul.orderList > li ul.imgList { padding: 10px; }
ul.orderList > li ul.imgList li { float: left; }
ul.orderList > li ul.imgList li .img { width: 80px; height: 120px; margin: 0 6px; border: 1px solid #b3b3b3; border-radius: 6px; background: #f2f2f2 image_url('mobiles/thumbnail.png') no-repeat center; background-size: 40% auto; overflow: hidden; }
ul.orderList.product > li ul.imgList li .img { width: 80px; height: 54px; }
ul.orderList > li ul.imgList li .name { padding: 0 6px; margin-top: 6px; color: #353535; }
ul.orderList > li .prescriptionPhoto { padding: 10px 16px; }
ul.orderList > li .prescriptionPhoto .img { float: left; width: 110px; height: 166px; margin-right: 16px; border: 1px solid #b3b3b3; border-radius: 6px; background: #f2f2f2 image_url('mobiles/thumbnail.png') no-repeat center; background-size: 40% auto; overflow: hidden; }
ul.orderList > li .prescriptionPhoto .tips { line-height: 1.8em; color: #d94141; }
ul.orderList > li .foot { height: 40px; line-height: 40px; padding: 0 16px; border-top: 1px solid #dedede; color: #7f7f7f; }
ul.orderList > li .foot .price { color: #333; }
ul.orderList > li .foot .price .num { font-size: 1.1em; color: #0079c9; }
ul.orderList > li .foot .cancelBtn { padding-left: 16px; background: image_url('mobiles/btn_cancel.png') no-repeat left center; background-size: auto 10px; }
.detailPage { padding-bottom: 40px; }
.orderStatus { position: relative; height: 48px; padding: 0 14px; color: #fff; background-color: #6bb290; }
.orderStatus .icon { position: absolute; width: 32px; height: 48px; line-height: 48px; text-align: center; font-size: 30px; }
.orderStatus .info { width: 100%; height: 48px; line-height: 20px; padding: 4px 0 4px 32px; }
.orderStatus .info .tt { font-weight: bold; }
.orderStatus .info .price { font-size: 0.8em; }
.orderDetail { border-bottom: 1px solid #dedede; background-color: #fff; }
.orderDetail .info { position: relative; height: 190px; padding: 10px 14px; }
.orderDetail .info .list { padding-right: 120px; line-height: 1.8em; }
.orderDetail .info .list .tt { font-weight: bold; color: #0079c9; }
.orderDetail .info .photo { position: absolute; top: 14px; right: 14px; width: 110px; height: 166px; border: 1px dashed #b5b5b5; border-radius: 8px; background-color: #f2f2f2; overflow: hidden; }
.orderDetail .remark { line-height: 1.8em; padding: 10px 14px; border-top: 1px solid #dedede; }
.orderOpt { margin: 10px 0; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; background-color: #fff; }
.orderOpt .tag { padding: 0 14px; border-bottom: 1px solid #dedede; }
.orderOpt .tag .tt { height: 32px; line-height: 32px; font-weight: bold; color: #0079c9; }
.orderOpt .tag .price { height: 32px; line-height: 32px; }
.orderOpt .tag .price .num { font-weight: bold; color: #0079c9; }
.orderOpt ul.orderOptList li { position: relative; padding: 8px 14px; border-bottom: 1px solid #dedede; }
.orderOpt ul.orderOptList li:last-child { border-bottom: none; }
.orderOpt ul.orderOptList li .info { line-height: 1.4em; }
.orderOpt ul.orderOptList li .info .name { color: #353535; }
.orderOpt ul.orderOptList li .info .style { font-size: 0.8em; color: #7f7f7f; }
.orderOpt ul.orderOptList li .info .price { font-size: 0.8em; color: #0079c9; }
.orderOpt ul.orderOptList li .opt { position: absolute; top: 50%; right: 14px; margin-top: -17px; border: 1px solid #b3b3b3; border-radius: 8px; overflow: hidden; }
.orderOpt ul.orderOptList li .opt .btn { width: 32px; height: 32px; line-height: 32px; text-align: center; font-weight: bold; color: #0079c9; background-color: #f2f2f2; }
.orderOpt ul.orderOptList li .opt .btn.add { border-right: 1px solid #b3b3b3; font-size: 20px; }
.orderOpt ul.orderOptList li .opt .btn.reduce { border-left: 1px solid #b3b3b3; }
.orderOpt ul.orderOptList li .opt .btn.disabled { color: #9b9b9b; }
.orderOpt ul.orderOptList li .opt .input { width: 60px; height: 32px; background-color: #fff; }
.orderOpt ul.orderOptList li .opt .input .qInput { width: 40px; height: 32px; border: none; text-align: center; font-size: 1.1em; font-weight: bold; color: #0079c9; }
.orderOpt ul.orderOptList li .opt .input .unit { width: 20px; height: 32px; line-height: 32px; text-align: center; font-size: 0.8em; }
.orderOpt ul.orderOptList li .quantity { position: absolute; top: 50%; right: 14px; height: 24px; line-height: 24px; margin-top: -12px; }
.orderOpt ul.orderOptList li .quantity .num { margin-right: 4px; font-size: 1.6em; font-weight: bold; color: #0079c9; }
.orderOpt ul.orderOptList li .ttPrice { display: none; }
.addressMan { margin: 10px 0; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; background-color: #fff; }
.lineTag { padding: 0 10px; border-bottom: 1px solid #dedede; border-left: 4px solid #0079c9; }
.lineTag .tt { height: 32px; line-height: 32px; color: #353535; }
.addressMan a.detail { display: block; line-height: 1.6em; padding: 6px 14px; background: image_url('mobiles/icon_input.png') no-repeat 96% center; background-size: 20px auto; }
.addressMan a.detail .num { font-size: 1.2em; font-weight: bold; color: #e73535; }
.couponMan { margin: 10px 0; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; background-color: #fff; }
.couponMan a.detail { display: block; height: 40px; line-height: 40px; padding: 0 10% 0 14px; background: image_url('mobiles/arr.png') no-repeat 96% center; background-size: 6px auto; }
.couponMan a.detail .tt { color: #353535; }
.couponMan a.detail .quantity { height: 20px; line-height: 18px; padding: 0 4px; margin: 10px 0 0 10px; border: 1px solid #0079c9; border-radius: 6px; font-size: 0.6em; color: #0079c9; }
.couponMan a.detail .info { color: #7f7f7f; }
.couponMan a.detail .info .num { padding: 0 4px; font-size: 1.2em; font-weight: bold; color: #e73535; }
.datetimeMan { margin: 10px 0; border-top: 1px solid #dedede; background-color: #fff; }
.datetimeMan .datetime { width: 100%; height: 30px; border: none; }
.addressSelect, .paySelect, .datetimeSelect { padding: 10px; }
.addressSelect .form-select, .paySelect .form-select { width: 100%; }
.addAddress { padding: 0 10px 10px; border-bottom: 1px solid #b3b3b3; }
.addAddress_but, .valid_but, .addDefault_but { display: block; width: 100%; height: 32px; line-height: 30px; border: 1px solid #0079c9; border-radius: 6px; text-align: center; font-size: 1.1em; font-weight: bold; color: #0079c9; background-color: #fff; }

/*distribution style*/
.distribution .address { padding: 4px 0; margin: 10px 0; background: image_url('mobiles/address_bg.gif') repeat left top; background-size: 80px auto; }
.distribution .address a.detail { display: block; line-height: 1.6em; padding: 6px 14px; background: #fff image_url('mobiles/icon_input.png') no-repeat 96% center; background-size: 20px auto; }
.paymentMan { margin: 10px 0; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; background-color: #fff; }
.datatime_input { width: 100%; height: 32px; line-height: 32px; border: none; }
.datetimeMan .form-input { width: 100%; height: 32px; line-height: 32px; border: none; }

/*address style*/
ul.addressList li { margin: 10px 0; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; background-color: #fff; }
ul.addressList li .tag { height: 32px; line-height: 31px; padding: 0 14px; border-bottom: 1px solid #dedede; }
ul.addressList li .tag a.link { padding-left: 20px; color: #0079c9; background: image_url('mobiles/icon_input.png') no-repeat left center; background-size: 18px auto; }
ul.addressList li .detail { display: block; position: relative; line-height: 1.4em; padding: 16px 44px 16px 14px; }
ul.addressList li .detail p { margin: 6px 0; }
ul.addressList li .detail p .tt { float: left; width: 48px; }
ul.addressList li .detail p .info { display: block; margin-left: 48px; }
ul.addressList li .icon_select { position: absolute; top: 50%; right: 14px; width: 20px; height: 20px; margin-top: -10px; border: 1px solid #c7c7c7; border-radius: 50%; overflow: hidden; }
ul.addressList li .icon_select.current { border: none; background: image_url('mobiles/icon_select.png') no-repeat left center; background-size: cover; }
.addressNew { padding: 10px; }
ul.gpsAddList { }
ul.gpsAddList li { position: relative; padding: 16px 10px; border-bottom: 1px solid #dedede; background-color: #fff; }
ul.gpsAddList li:first-child { border-top: 1px solid #dedede; }
ul.gpsAddList li .img { width: 80px; height: 54px; border: 1px solid #b3b3b3; border-radius: 6px; background: #f2f2f2 image_url('mobiles/thumbnail.png') no-repeat center; background-size: 40% auto; overflow: hidden; }
ul.gpsAddList li .info { width: 100%; line-height: 1.2em; padding: 0 20px 0 90px; }
ul.gpsAddList li .info .name { margin-bottom: 6px; font-size: 1.1em; font-weight: bold; }
ul.gpsAddList li .radio { position: absolute; top: 50%; right: 10px; margin-top: -6px; }
.loadHospital { padding: 16px 0; text-align: center; }

/*valid style*/
.user_valid { padding: 14px; }
.validBox { margin-bottom: 14px; border: 1px solid #cdcdcd; border-radius: 10px; background-color: #fff; overflow: hidden; }
.validBox .title { height: 58px; line-height: 50px; padding: 0 40px; border-bottom-width: 8px; border-bottom-style: solid; font-size: 1.1em; font-weight: bold; }
#idCard .title { background: image_url('mobiles/valid/icon_id.png') no-repeat 10px center; background-size: 20px auto; }
#medicalCard .title { background: image_url('mobiles/valid/icon_hic.png') no-repeat 10px center; background-size: 20px auto; }
.validBox .main { padding: 10px; }
.validBox .main .tips { padding: 10px 0; }
.validBox .main ul.list { padding: 10px 0; margin: 0 -10px; }
.validBox .main ul.list li { float: left; width: 33.33%; padding: 0 10px; }
.validBox .main ul.list li .box { position: relative; width: 100%; border: 1px solid #fff; border-radius: 4px; background-color: #fff; overflow: hidden; }
.validBox .main ul.list li .box .tag { position: absolute; z-index: 1; top: 0; right: 0; width: 100%; height: 100%; background-repeat: no-repeat; background-position: right top; background-size: 36% auto; }
.validBox .main ul.list li .box button { width: 100%; height: 100%; border: none; text-align: center; font-weight: bold; background-color: #fff; }
.validBox .main ul.list li .box button .icon { font-size: 2.6em; }
.validBox.blue .title { border-color: #0079c9; color: #0079c9; }
.validBox.green .title { border-color: #4db994; color: #4db994; }
.validBox.blue .main { background-color: #d2e6f3; }
.validBox.green .main { background-color: #d9eae8; }
.validBox.blue ul.list li.camera .box { border-color: #0079c9; }
.validBox.green ul.list li.camera .box { border-color: #4db994; }
.validBox.blue ul.list li.camera .box button { color: #0079c9; }
.validBox.green ul.list li.camera .box button { color: #4db994; }
.validBox.blue ul.list li .box .tag { background-image: image_url('mobiles/valid/tag_blue.png'); }
.validBox.green ul.list li .box .tag { background-image: image_url('mobiles/valid/tag_green.png'); }
#validSub { width: 100%; height: 40px; line-height: 38px; margin-top: 20px; border: none; border-radius: 8px; text-align: center; font-size: 16px; color: #fff; background-color: #0079c9; }
.validSuccess .icon { padding: 20px 0; text-align: center; }
.validSuccess .icon .tt { margin-top: 10px; font-size: 1.4em; color: #64c17a; }
.validSuccess ul.list { border-top: 1px solid #b3b3b3; }
.validSuccess ul.list li { line-height: 20px; padding: 10px; border-bottom: 1px solid #b3b3b3; background-color: #fff; }

/*coupons style*/
.couponsTag .box { float: left; width: 50%; height: 120px; border-right: 1px solid #fff; }
.couponsTag .box a { position: relative; display: block; width: 100%; height: 120px; }
.couponsTag .box .img { height: 80px; padding: 20px 0; text-align: center; }
.couponsTag .box .tt { text-align: center; font-weight: bold; color: #fff; }
.couponsTag .box:first-child { background-color: #6bb4de; }
.couponsTag .box:last-child { border-right: none; background-color: #87c9b2; }
.couponsTag .box .num { position: absolute; top: 10px; right: 10px; width: 40px; height: 40px; line-height: 40px; border-radius: 50%; text-align: center; color: #fff; background-color: #0079c9; }
.couponsTag .box .num strong { font-size: 1.2em; }
.couponTag { margin-top: 10px; border-top: 1px solid #dedede; background-color: #fff; }
.couponTag .total { line-height: 32px; color: #7f7f7f; }
.couponTag .total strong { padding: 0 4px; font-size: 1.2em; color: #e73535; }
.couponsList { padding: 10px; }
.couponsList li { position: relative; height: 112px; padding: 0 3px; margin-bottom: 10px; border-top: 1px solid #b2b2b2; border-bottom: 1px solid #b2b2b2; }
.couponsList li .box { width: 100%; height: 110px; padding: 10px; background: #fff image_url('mobiles/coupons/bg.png') no-repeat right bottom; background-size: auto 90%; }
.couponsList li .box .num { width: 140px; padding-right: 10px; text-align: right; vertical-align: top; font-size: 1.6em; font-weight: bold; }
.couponsList li .box .num strong { font-size: 2.8em; }
.couponsList li .box .info p b { font-size: 1.1em; }
.couponsList li .box .info p strong { font-size: 2em; }
.couponsList li.red { color: #f35b70; }
.couponsList li.orange { color: #ef8945; }
.couponsList li.blue { color: #5097d4; }
.couponsList li .wave { background-image: -webkit-radial-gradient(transparent 0px, transparent 3px, #b2b2b2 3px, #b2b2b2 4px, white 4px, white); background-image: -moz-radial-gradient(transparent 0px, transparent 3px, #b2b2b2 3px, #b2b2b2 4px, white 4px, white); background-image: radial-gradient(transparent 0px, transparent 3px, #b2b2b2 3px, #b2b2b2 4px, white 4px, white); }
.wave { position: absolute; left: 0; top: 0; height: 100%; width: 4px; background-image: -webkit-radial-gradient(transparent 0px, transparent 3px, #ccc 3px, #ccc 4px, white 4px, white); background-image: -moz-radial-gradient(transparent 0px, transparent 3px, #ccc 3px, #ccc 4px, white 4px, white); background-image: radial-gradient(transparent 0px, transparent 3px, #ccc 3px, #ccc 4px, white 4px, white); background-size: 8px 8px; background-position: -4px 1px; }
.wave.right { left: initial; right: 0; background-position: 0px 1px; }
.couponsShowTag { border-bottom: 1px solid #c6c6c6; }
.couponsShowTag .box { float: left; width: 50%; height: 120px; border-right: 1px solid #c6c6c6; text-align: center; }
.couponsShowTag .box:first-child { color: #ef8945; background-color: #eae5d0; }
.couponsShowTag .box:last-child { border-right: none; color: #0079c9; background-color: #d8eaf5; }
.couponsShowTag .box .num { height: 80px; line-height: 80px; vertical-align: middle; font-size: 2.4em; font-weight: bold; }
.couponsShowTag .box .tt { font-size: 1.2em; font-weight: bold; }
.couponsShowTag .box .tt img { margin-right: 8px; }
.couponsDetail { padding: 20px; margin: 10px 10px 0; border: 1px solid #cdcdcd; border-radius: 8px 8px 0 0; text-align: center; background-color: #fccd73; }
.couponsDetail .title { font-size: 1.4em; font-weight: bold; color: #353535; }
.couponsDetail .code { margin-top: 8px; letter-spacing: 2px; font-size: 2.4em; font-weight: bold; background: -webkit-linear-gradient(top, #f5a012, #f58012 50%, #f57111 51%, #f56011); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
.couponsDetail .qrCode { margin-top: 20px; }
.couponsDetail .qrCode .tt { font-weight: bold; color: #353535; }
.couponsDetail .qrCode .img { margin-top: 8px; }
.couponsDetail .share { margin-top: 10px; }
.couponsDetail .share .tt { font-weight: bold; color: #353535; }
.couponsDetail ul.list { padding: 8px 0; }
.couponsDetail ul.list li { float: left; width: 33.33%; text-align: center; color: #323232; }
.couponsDetail ul.list li .tt { margin-top: 6px; }

/*activity style*/
.avtList { padding-bottom: 60px; }
.avtList li { padding: 14px; border-bottom: 1px solid #b3b3b3; background-color: #fff; }
.avtList li:last-child { border-bottom: none; }
.avtList li a { display: block; padding-right: 16px; background: image_url('mobiles/arr.png') no-repeat right center; background-size: 8px auto; }
.avtList li .img img { border: 1px solid #b3b3b3; border-radius: 6px; overflow: hidden; }
.avtList li .info { padding-left: 114px; }
.avtList li .info .tt { padding: 6px 0; font-size: 1.1em; color: #0079c9; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.avtList li .info .con { line-height: 1.6em; }

/*not_found style*/
.not_found { margin-top: 20%; text-align: center; font-size: 1.6em; }

/*footSub style*/
.footSub { position: fixed; bottom: 0; left: 0; width: 100%; height: 40px; background-color: #0079c9; }
// .footSub .tel { position: absolute; width: 86px; height: 40px; text-align: center; color: #0079c9; background-color: #fff; }
// .footSub .tel .icon { height: 24px; line-height: 24px; font-size: 20px; }
// .footSub .tel .num { height: 16px; line-height: 16px; font-size: 0.6em; font-weight: bold; }
.footSub .backBtn { position: absolute; width: 86px; height: 40px; line-height: 40px; padding-left: 30px; font-size: 1.2em; color: #0079c9; background: #fff image_url('mobiles/arr_back.png') no-repeat 10px center; background-size: 10px auto; }
.footSub .subBtn { width: 100%; height: 40px; line-height: 40px; padding-left: 86px; border: none; text-align: center; color: #fff; background-color: transparent; }
.footSub .subBtn.disabled { background-color: #a5a5a5; }
.footSub .subBtn .price { padding-right: 16px; font-size: 1.2em; }
.footSub .subBtn .tt { font-size: 1.6em; }
.successInfo { line-height: 1.8em; margin-top: 40%; text-align: center; font-size: 1.6em; color: #0079c9; }
.successInfo .icon { margin-top: 10%; text-align: center; }

/*
**page style end && class reset begin**
*/
.hide { display: none; }
.show { display: block; }
.pRel { position: relative; }
.pAbs { position: absolute; }
.bfL { float: left; }
.bfR { float: right; }
.w50p { width: 50%; }
.mt0 { margin-top: 0; }
.mb20 { margin-bottom: 20px; }
.mb-10 { margin-bottom: -10px; }
.p10 { padding: 10px; }
.plr10 { padding: 0 10px; }
.txtL { text-align: left; }
.txtC { text-align: center; }
.txtR { text-align: right; }

/*
**class reset end**
*/
