= simple_form_for [ :admin, :v2,  @product ], url: url, html: {class: 'form-horizontal formBox valForm'} do |f|
  .form-group
    = f.label :name, '药品名', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.text_field :name, class: 'form-control', required: 'required'

  .form-group
    = f.label :common_name, '通用名', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.input_field :common_name, class: 'form-control', disabled: 'disabled'

  .form-group
    = f.label :manufacturer_name, '厂商', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.input_field :manufacturer_name, class: 'form-control',  disabled: 'disabled'

  .form-group
    = f.label :identifier, '药品识别码', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.input_field :identifier, class: 'form-control',  disabled: 'disabled'

  .form-group
    = f.label :dosage_form, '剂型', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.input_field :dosage_form, class: 'form-control',  disabled: 'disabled'

  .form-group
    = f.label :specification, '规格', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.input_field :specification, class: 'form-control',  disabled: 'disabled'

  .form-group
    = f.label :serial_no, '商品编号', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.input_field :serial_no, class: 'form-control',  disabled: 'disabled'

  .form-group
    = f.label :high_price, '最高价', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.input_field :high_price, class: 'form-control', disabled: 'disabled'

  .form-group
    = f.label :low_price, '最低价', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.input_field :low_price, class: 'form-control', disabled: 'disabled'

  .form-group
    = f.label :prices, '价格', class: 'col-sm-3 control-label'
    .col-sm-6
      = f.simple_fields_for :prices do |price|
        = render 'price_fields', :f => price
      .links
        = link_to_add_association 'add price', f, :prices, class: 'btn btn-info'

  .form-group
    .col-sm-8.col-sm-offset-3
      = f.submit '提交', class: 'btn btn-primary mr20'
      = link_to '取消', admin_v2_products_path, class: 'btn btn-warning'
