.form-group.nested-fields
  .col-sm-5
    = f.association :area, collection: Area.provinces.all, label: false, wrapper: false, input_html: { class: 'form-control' }
  .col-sm-5
    = f.input :price, label: false, wrapper: false, input_html: { class: 'form-control' }
  .col-sm-2
    = link_to_remove_association "×", f, class: 'delete-pres-item'
