.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-8
    h2 APP管理
    ol.breadcrumb
      li.active 商品管理

  .col-lg-4
    = link_to '创建新的商品', new_admin_v2_product_path, class: 'btn btn-sm btn-primary bfR mt20'
    = link_to '导出商品信息', export_to_csv_admin_v2_products_path, class: 'btn btn-sm btn-info bfR mt20 mr20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 商品管理

    .ibox-content
      table.table.table-striped
        thead
          tr
            th 药品名
            th 通用名
            th 厂商
            th 药品识别码
            th 剂型
            th 规格
            th 最高价
            th 最低价
            th 价格
            th 商品编号
            th 操作
        tbody
          - @products.each  do |product|
            tr
              td= link_to product.name, admin_v2_product_path(product)
              td= product.common_name
              td= product.manufacturer_name
              td= product.identifier
              td= product.dosage_form
              td= product.specification
              td= product.high_price
              td= product.low_price
              td= product.price
              td= product.serial_no
              td= link_to '编辑', edit_admin_v2_product_path(product)

      = paginate  @products
