.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 APP管理
    ol.breadcrumb
      li = link_to '商品管理', admin_v2_products_path
      li.active 创建商品

  .col-lg-2 = link_to '返回列表', admin_v2_products_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 创建商品
    .ibox-content
      .row
        .col-sm-5.pull-right
          .imgBox
            = link_to(image_tag('', alt: '', title: '', width: '100%'), '#imgModal', data: {toggle: 'modal', target: '#imgModal'})

        .col-sm-7
          = render partial: 'form', locals: { url: admin_v2_products_path }


#imgModal.modal.fade.bs-example-modal-lg
  .modal-dialog.modal-lg
    .modal-content
      .modal-header style='border-bottom: 0;'
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times
        .modalOBtn
          span#rotRight
            span.fa.fa-rotate-right
            | 向右旋转
          span#rotLeft
            span.fa.fa-rotate-left
            | 向左旋转
      .modal-body#imgBox
        = image_tag('', id: 'rotImg', alt: '', title: '', height: '', width: '100%')

javascript:
  $(document).ready(function(){
    $("input.numInput").each(function(){
      $(this).bind("keyup",function(){
        clearNoNum(this);
      });
    });
  });

  function clearNoNum(obj){
    obj.value = obj.value.replace(/\D/g,"");
  }
