.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 APP管理
    ol.breadcrumb
      li = link_to '商品管理', admin_v2_products_path
      li.active 商品详情

  .col-lg-2 = link_to '返回列表', admin_v2_products_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 商品详情
    .ibox-content
      .row
        .col-sm-5.pull-right
          .imgBox
            = link_to(image_tag('', alt: '', title: '', width: '100%'), '#imgModal', data: {toggle: 'modal', target: '#imgModal'})

        .col-sm-7
          .orderShow
            .row
              .col-sm-3.txtR 药品名
              .col-sm-9 = @product.name

            .row
              .col-sm-3.txtR 通用名
              .col-sm-9 = @product.common_name

            .row
              .col-sm-3.txtR 厂商
              .col-sm-9 = @product.manufacturer_name

            .row
              .col-sm-3.txtR 药品识别码
              .col-sm-9 = @product.identifier

            .row
              .col-sm-3.txtR 剂型
              .col-sm-9 = @product.dosage_form

            .row
              .col-sm-3.txtR 规格
              .col-sm-9 = @product.specification

            .row
              .col-sm-3.txtR 最高价
              .col-sm-9 = @product.high_price

            .row
              .col-sm-3.txtR 最低价
              .col-sm-9 = @product.low_price

            .row
              .col-sm-3.txtR 价格
              .col-sm-9 = @product.price

#imgModal.modal.fade.bs-example-modal-lg
  .modal-dialog.modal-lg
    .modal-content
      .modal-header style='border-bottom: 0;'
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times
        .modalOBtn
          span#rotRight
            span.fa.fa-rotate-right
            | 向右旋转
          span#rotLeft
            span.fa.fa-rotate-left
            | 向左旋转
      .modal-body#imgBox
        = image_tag('', id: 'rotImg', alt: '', title: '', height: '', width: '100%')
