<li class="<%= nav_class_name('sub_APP', 'sub_APP') %>">
  <a href="#" class="tt">
    <i class="fa fa-adn"></i>
    <span class="nav-label">APP管理</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level">
    <li class= "<%= nav_class_name('sub_APP', 'activities') %>">
      <%= link_to '消息管理', admin_v2_activities_path %>
    </li>
    <li class= "<%= nav_class_name('sub_APP', 'banners') %>">
      <%= link_to 'Banner管理', admin_v2_banners_path %>
    </li>
    <li class= "<%= nav_class_name('sub_APP', 'products') %>">
      <%= link_to '商品管理', admin_v2_products_path %>
    </li>
  </ul>
</li>