<li class= "<%= nav_class_name('sub_medicines', 'sub_medicines') %>">
  <a href="#" class="tt">
    <i class="fa fa-bar-chart-o"></i>
    <span class="nav-label">主数据</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level">
    <li class= "<%= nav_class_name('sub_medicines', 'medicines') %>">
      <%= link_to '药品管理', admin_v2_medicines_path %>
    </li>
    <li class= "<%= nav_class_name('sub_medicines', 'hospitals') %>">
      <%= link_to '医院管理', admin_v2_hospitals_path %>
    </li>
    <li class= "<%= nav_class_name('sub_medicines', 'drug_stores') %>">
      <%= link_to '药房管理', admin_v2_drug_stores_path %>
    </li>
    <li class= "<%= nav_class_name('sub_medicines', 'doctors') %>">
      <%= link_to '医生管理', admin_v2_doctors_path%>
    </li>
    <li class= "<%= nav_class_name('sub_medicines', 'departments') %>">
      <%= link_to '科室管理', admin_v2_departments_path%>
    </li>
    <li class= "<%= nav_class_name('sub_medicines', 'users') %>">
      <%= link_to '用户管理', admin_v2_users_path%>
    </li>
    <% if current_admin_user.super_admin? %>
      <li class= "<%= nav_class_name('sub_medicines', 'admin_users') %>">
        <%= link_to '管理员', admin_v2_admin_users_path %>
      </li>
      <li class= "<%= nav_class_name('sub_medicines', 'coupons') %>">
        <%= link_to '优惠券管理', admin_v2_coupons_path %>
      </li>
    <% end %>
  </ul>
</li>
