<li class="<%= nav_class_name('sub_orders', 'sub_orders') %> ">
  <a href="#" class="tt">
    <i class="fa fa-list-ol"></i>
    <span class="nav-label">订单管理</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level">
    <li class= "<%= nav_class_name('sub_orders', 'orders') %>">
      <%= link_to '订单管理', admin_v2_orders_path %>
    </li>
  </ul>
</li>