<li class="<%= nav_class_name('sub_prescriptions', 'sub_prescriptions') %>">
  <a href="#" class="tt">
    <i class="fa fa-newspaper-o"></i>
    <span class="nav-label">处方管理</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level">
    <li class= "<%= nav_class_name('sub_prescriptions', 'prescriptions') %>">
      <%= link_to '处方审核', admin_v2_prescriptions_path %>
    </li>
    <li class= "<%= nav_class_name('sub_prescriptions', 'prescription_doctors') %>">
      <%= link_to '处方医生管理', admin_v2_prescription_doctors_path %>
    </li>
  </ul>
</li>