<li class= "<%= nav_class_name('sub_dashboards', 'sub_dashboards') %>" >
  <a href="#" class="tt">
    <i class="fa fa-area-chart"></i>
    <span class="nav-label">报表</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level">
    <li class= "<%= nav_class_name('sub_dashboards', 'dashboards') %>">
      <%= link_to '报表', admin_v2_dashboards_path %>
    </li>
  </ul>
</li>