<li class="<%= nav_class_name('', '') %> ">
  <a href="#" class="tt">
    <i class="fa fa-hospital-o"></i>
    <span class="nav-label">库存管理</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level">
    <li class= "<%= nav_class_name('', '') %>">
      <%= link_to '库存管理', '' %>
    </li>
  </ul>
</li>