
<li class="<%= nav_class_name('sub_weixin', 'sub_weixin') %>">
  <a href="#" class="tt">
    <i class="fa fa-weixin"></i>
    <span class="nav-label">微信管理</span>
    <span class="fa arrow"></span>
  </a>
  <ul class="nav nav-second-level">
    <li class= "<%= nav_class_name('', '') %>">
      <%= link_to '消息管理', admin_v2_weixin_activities_path %>
    </li>
    <li class= "<%= nav_class_name('sub_weixin', 'products') %>">
      <%= link_to '商品管理', admin_v2_weixin_products_path %>
    </li>
  </ul>
</li>