.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 处方医生管理
    ol.breadcrumb
      li = link_to '处方医生列表', admin_v2_prescription_doctors_path
      li.active 编辑处方医生

  .col-lg-2 = link_to '返回列表', admin_v2_prescription_doctors_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 编辑处方医生
    .ibox-content
      .row
        = form_for [:admin, :v2, @pd ], html: {class: "form-horizontal formBox valForm"} do |f|
          .form-group
            label.col-sm-2 医生名称
            .col-sm-4
              = f.text_field :name, class: 'form-control', required: 'required', value: @pd.name

          .form-group
            label.col-sm-2 医院
            .col-sm-4
              = f.select :hospital_id, options_for_select(Hospital.all.collect { |ele| [ele.name, ele.id] }, @p_hospital_id), {include_blank: '选择医院'}, required: 'required', class: 'form-control'
            .col-sm-4

          .form-group
            .col-sm-8.col-sm-offset-2
              = f.submit '完成', class: 'btn btn-primary mr20'
              = link_to '取消', admin_v2_prescription_doctors_path, class: 'btn btn-warning'
