.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 处方医生管理
    ol.breadcrumb
      li.active 处方医生列表

  .col-lg-2

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 处方医生列表

    .ibox-content
      table.table.table-striped
        thead
          tr
            th 医生名称
            th 医院
            th 二维码
            th 处方数
            th 患者数
            /th 扫描次数
            th 更新时间
            th 操作
        tbody
          - @pds.each do |item|
            tr
              td= item.name
              td= item.hospital.try(:name)
              td= link_to image_tag(item.ticket_qr_code, size: '16x16'), item.ticket_qr_code
              td= item.prescriptions_count
              td= item.patients_count
              /td= item.logs_scans.subscribe.count
              td= item.updated_at.strftime("%F %T")
              td
                = link_to '编辑', edit_admin_v2_prescription_doctor_path(item)
                - if current_admin_user.super_admin?
                  | |
                  = link_to '删除', admin_v2_prescription_doctor_path(item), method: :delete, data: { confirm: '确定要删除么'}

