﻿@charset "utf-8";

/* CSS Document */
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form { margin: 0; }
ol, ul, textarea { margin: 0; padding: 0; }
body { font: 14px Arial, Helvetica, sans-serif; line-height: normal !important; background-color: #fff; }
dl, dt, dd, ul, ol, li { list-style-type: none; }
h5, h6 { font-size: 100%; font-weight: normal; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }
select, input { font-size: 12px; vertical-align: middle; _vertical-align: baseline; outline: none; }
input { padding: 0; border-radius: 0; -webkit-appearance: none; }
input[type="checkbox"] { -webkit-appearance: checkbox; }
input[type="radio"] { -webkit-appearance: radio; }
textarea { resize: none; outline: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: none; }
a { color: #666; text-decoration: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]) { display: none; }
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; padding: 0; }

/*firefox input text-align center*/
.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.clearfix { zoom: 1; }

/*
**styles reset end && page style begin**
*/
.page { background-color: #f8f8f8; }
.innerPage { background-color: #fff; }
.navbar { border-bottom: 1px solid #b2b2b2; }
.navbar .sliding { color: #0e76bc; }
.navbar .icon-menu { background: url("../images/icon-menu.png") no-repeat center; background-size: 46% auto; }
.navTab { height: 42px; border-bottom: 1px solid #003b71; background-color: #f8f8f8; }
.navTab a { height: 40px; line-height: 42px; text-align: center; color: #818181; }
.navTab a.w25p { width: 25%; }
.navTab a.w50p { width: 50%; }
.navTab a.w60p { width: 60%; }
.navTab a.w100p { width: 100%; }
.navTab a.active { border-bottom: 2px solid #1b75bc; font-size: 16px; color: #0e76bc; }
.panel-right { background-color: #cecece; }
.sideNav li { margin-bottom: 8px; }
.sideNav li a { display: block; height: 32px; line-height: 32px; border-radius: 8px; text-align: center; font-size: 14px; color: #fff; background-color: #1b75bc; }

/*index style*/
.banner { height: 156px; border-bottom: 1px solid #b2b2b2; }
.list-block ul.iLinkList:before { border: none; background-color: transparent; }
.iLinkList li { float: left; width: 50%; margin-bottom: 36px; }
.iLinkList li .icon { width: 90px; height: 90px; margin: 0 auto; border: 1px solid #6d9ed2; border-radius: 50%; background-color: #fff; }
.iLinkList li .icon .box { display: table-cell; width: 90px; height: 90px; vertical-align: middle; text-align: center; }
.iLinkList li .tt { width: 44%; height: 22px; line-height: 22px; margin: 16px auto 0; text-align: center; font-size: 16px; font-weight: bold; color: #fff; background-color: #1b75bc; }

/*about style*/
.aboutMain .content-block { line-height: 1.8em; font-weight: bold; color: #343434; }

/*company style*/
.companyList { padding: 0 16px; }
.companyList li { padding: 16px 0; border-bottom: 1px solid #ccc; }
.companyList li:last-child { border-bottom: none; }
.companyList li .img { float: left; width: 100px; height: 80px; border: 1px solid #cdcdcd; border-radius: 8px; overflow: hidden; }
.companyList li .info { line-height: 1.6em; margin-left: 130px; color: #333; }

/*team style*/
.teamList li .info { line-height: 1.6em; padding: 16px; color: #333; }

/*contact style*/
.contactList li { line-height: 1.8em; margin-bottom: 32px; }
.contactList li a { color: #0e76bc; }

/*
**page style end && class reset begin**
*/
.hide { display: none; }
.show { display: block; }
.pRel { position: relative; }
.pAbs { position: absolute; }
.bfL { float: left; }
.bfR { float: right; }
.txtL { text-align: left; }
.txtC { text-align: center; }
.txtR { text-align: right; }

/*
**class reset end**
*/
