.bannerImg = image_tag("banners/banner_jd.jpg", alt: "", width: "100%")
.newsInfo
  h2.tt 上药联手京东共建医药电商
  p.time 2015-05-18 09:59:57
  p 上海医药（601607.SH；02607.HK）与京东将合作开拓医药电商业务。
  br
  p 5月17日晚间，上海医药公告称，5月15日与京东签署《战略合作框架协议》，将在医药电商领域共同开拓相关市场机遇和商业机会，双方将在5个方面展开合作。
  br
  p 首先，上海医药与京东在处方药电子商务领域建立全面战略合作伙伴关系，在国家政策允许的范围内，共同打造处方药的线上销售平台及线下配送网络。上海医药承诺，京东为上海医药在处方药电子商务领域内的独家合作伙伴，与京东独家分享处方药电子商务业务相关的数据与资源。京东承诺，上海医药大健康云商股份有限公司（“上药云健康”）独家拥有在京东运营的电子商务平台销售处方药药品的权利，与上药云健康独家分享与处方药电子商务销售相关的数据和资源。
  br
  p 其次，上海医药与京东在非处方药、医疗服务等领域建立全面战略合作伙伴关系。
  br
  p 第三，上海医药与京东共同增资上药云健康，打造医药电子商务和移动医疗的生态系统，将其塑造成全国范围内的行业领导者。上海医药将以上海医药众协药业有限公司100%股权，增资上药云健康；京东将以现金以及相关资源作价，增资上药云健康；双方承诺在本协议签署之日起的三个月内，完成对上药云健康的增资。
  br
  p 第四，上海医药将提供广泛的线下零售资源和药品品类，全面支持上药云健康业务发展，并协助上药云健康取得与其业务经营相关的证照及资质证书；京东将全面协助上药云健康处方药电子商务的线上平台和线下网络的建设，包括频道展示及流量支持、电子商务交易平台、仓储物流等。
  br
  p 第五，双方承诺，在未来适当时机，经股东协商，按照市场化原则对上药云健康的管理团队设立激励机制。
  br
  p 具体而言，上海医药将提供广泛的线下零售资源和药品品类，全面支持上药云健康业务发展，并协助上药云健康取得与其业务经营相关的证照及资质证书；京东将全面协助上药云健康处方药电子商务的线上平台和线下网络的建设，包括频道展示及流量支持、电子商务交易平台、仓储物流解决方案等。
  br
  p 双方约定，首期独家合作期限为五年，前两年为初始默认合作期，在初始默认合作期末及之后的每一年末，双方通过上药云健康董事会对上药云健康关键绩效指标（KPI）进行期末考核，考核达标则延期一年，考核不达标则由京东决定是否延期。双方确认预设首期独家合作期的KPI暂定为上药云健康的市场、客户等关键业绩指标。首期独家合作期限届满后，双方可共同协商延期。
  br
  p 上海医药称，国家近期出台了一系列政策鼓励医药电商的发展，预期医药电商领域将迎来巨大市场机遇。本次战略框架协议的签署，符合公司整体战略发展方向，是公司在顺应国家医疗卫生改革以及互联网技术发展的趋势，积极探索全新的医药商业模式下，与互联网行业领导者的强强联合、优势互补。此次合作，将有利于公司迅速把握处方药电商的市场机遇，在流量导入、IT系统、物流体系方面，快速建立市场竞争优势，全面落地本公司在医药电商领域的战略布局与业务发展。
