ul.crumbsNav.mb-10.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心
  li
    span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
    | 收货地址管理

ul.addressList
  - @w_user.addresses.each do |address|
    li
      .tag.clearfix
        .name.bfL 收货人：#{address.name}
        = link_to '编辑', edit_mobiles_user_address_path(@w_user, address), class: 'link bfR'
      / = link_to edit_mobiles_user_address_path(@w_user, address), class: 'detail' do
      .detail
        p.clearfix
          span.tt 手机：
          span.info #{address.phone}
        p.clearfix
          span.tt 地址：
          span.info #{address.state_city_address}

        = link_to '', set_default_mobiles_user_address_path(@w_user, address), class: "icon_select #{address.default ? 'current' : ''}"

.addressNew = link_to '新增收货地址', new_mobiles_user_address_path(@w_user), class: 'addAddress_but'
