ul.crumbsNav.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心

ul.u_centerList
  li
    = link_to gen_auth_url('mobiles/users/my_coupons'), class: "clearfix" do
      .tt.bfL
        span.icon = image_tag('mobiles/user/icon_ticket.png', alt: '', width: '20')
        | 我的优惠券
      .num.bfL #{@w_user.coupons.count}

  li
    = link_to gen_auth_url('mobiles/users/my_orders'), class: "clearfix" do
      .tt.bfL
        span.icon = image_tag('mobiles/user/icon_order.png', alt: '', width: '20')
        | 我的订单
      .num.bfL #{@w_user.orders.valid.count}

  li
    = link_to gen_auth_url('mobiles/users/my_prescriptions'), class: "clearfix" do
      .tt.bfL
        span.icon = image_tag('mobiles/user/icon_recipe.png', alt: '', width: '20')
        | 我的处方
      .num.bfL #{@w_user.prescriptions.count}

ul.u_centerList
  li
    = link_to @w_user.is_recognized? ? gen_auth_url('mobiles/users/valid_success') : gen_auth_url('mobiles/users/valid'), class: "clearfix" do
      .tt.bfL
        span.icon = image_tag('mobiles/user/icon_v.png', alt: '', width: '20')
        | 个人认证
      - if @w_user.is_recognized?
        .icon.recipe.bfR 已认证

  li
    = link_to gen_auth_url('mobiles/users/my_addresses'), class: "clearfix" do
      .tt.bfL
        span.icon = image_tag('mobiles/user/icon_gps.png', alt: '', width: '20')
        | 收货地址管理

ul.navBar.clearfix
  li
    = link_to gen_auth_url('mobiles/prescriptions/new_prescription') do
      span.icon = image_tag('mobiles/navBarIcon1.png', alt: '', width: '20')
      | 我要买药
  li
    = link_to gen_auth_url('mobiles/activities') do
      span.icon = image_tag('mobiles/navBarIcon2.png', alt: '', width: '20')
      | 健康频道
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/navBarIcon3.png', alt: '', width: '20')
      | 个人中心
