ul.crumbsNav.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心
  li
    span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
    | 我的优惠券

.couponsTag.clearfix
  .box
    = link_to gen_auth_url('mobiles/users/share_my_invitation_code') do
      .img = image_tag("mobiles/coupons/tag_icon1.png", alt: "", width: "20%")
      .tt 分享获得优惠券
      .num
        strong 1
        | /
        span 3
        | 次
  .box
    = link_to "#" do
      .img = image_tag("mobiles/coupons/tag_icon2.png", alt: "", width: "40%")
      .tt 代码兑换优惠券

.lineTag.couponTag.clearfix
  .tt.bfL 我的优惠券
  .total.bfR
    | 总数
    strong #{@coupons.count}
    | 张

.couponsList
  - @coupons.each do |coupon|
    li.red
      .box
        .num.bfL
          | ￥
          strong #{coupon.amount}
        .info.bfL
          p
            b YUAN
          p
            strong 优惠券
          p COUPON
      .wave
      .wave.right
