ul.crumbsNav.borderB.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心
  li
    span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
    | 我的订单

ul.orderTag.selectTag.w25
  li.current
    | 待确认
    span.num #{@orders["in_progress"].try(:count).to_i}
  li
    | 待审核
    span.num #{@orders[:unapproved].try(:count).to_i}
  li
    | 待付款
    span.num #{@orders["confirm"].try(:count).to_i}
  li
    | 已完成
    span.num #{@orders["paid"].try(:count).to_i}

ul.orderList.product.selectCon
  - @orders["in_progress"] && @orders["in_progress"].each do |order|
    li
      = link_to gen_auth_url("mobiles/orders/#{order.id}/edit") do
        .title.clearfix
          .tt.bfL 订单号：#{order.NO}
          .status.warning.bfR 待确认
        ul.imgList.clearfix
          - order.line_items.each do |item|
            li
              .img = image_tag(item.product.medicine.image_url, alt: "", width: "78", height: "52")
              .name #{item.product_name}
        .foot.clearfix
          .price.bfL
            | 实付款：
            span.num ￥#{order.total}
          = link_to "取消订单", gen_auth_url("mobiles/orders/#{order.id}/canncel"), method: :put, class: "cancelBtn bfR"

ul.orderList.product.selectCon.hide
  - @orders[:unapproved] && @orders[:unapproved].each do |order|
    li
      .title.clearfix
        .tt.bfL 订单号：#{order.NO}
        .status.blue.bfR 待审核
      ul.imgList.clearfix
        - order.line_items.each do |item|
          li
            .img = image_tag(item.product.medicine.image_url, alt: "", width: "78", height: "52")
            .name #{item.product_name}

      .foot.clearfix
        .price.bfL
          | 实付款：
          span.num ￥#{order.total}
        = link_to "取消订单", gen_auth_url("mobiles/orders/#{order.id}/canncel"), class: "cancelBtn bfR"

ul.orderList.product.selectCon.hide
  - @orders["confirm"] && @orders["confirm"].each do |order|
    li
      .title.clearfix
        .tt.bfL 订单号：#{order.NO}
        .status.orange.bfR 待付款
      ul.imgList.clearfix
        - order.line_items.each do |item|
          li
            .img = image_tag(item.product.medicine.image_url, alt: "", width: "78", height: "52")
            .name #{item.product_name}
      .foot.clearfix
        .price.bfL
          | 实付款：
          span.num ￥#{order.total}
        = link_to "取消订单", gen_auth_url("mobiles/orders/#{order.id}/canncel"), class: "cancelBtn bfR"

ul.orderList.product.selectCon.hide
  - @orders["paid"] && @orders["paid"].each do |order|
    li
      .title.clearfix
        .tt.bfL 订单号：#{order.NO}
        .status.pass.bfR 已完成
      ul.imgList.clearfix
        - order.line_items.each do |item|
          li
            .img = image_tag(item.product.medicine.image_url, alt: "", width: "78", height: "52")
            .name #{item.product_name}
      .foot.clearfix
        .price.bfL
          | 实付款：
          span.num ￥#{order.total}

javascript:
  $(document).ready(function(){
    $(".selectTag").find("li").click(function(){
      var tagIndex = $(this).index();
      $(".selectTag").find("li").removeClass("current");
      $(this).addClass("current");
      $(".selectCon").hide();
      $(".selectCon").eq(tagIndex).show();
    });
  });
