ul.crumbsNav.borderB.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心
  li
    span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
    | 我的处方

ul.orderTag.selectTag.w33
  li.current
    | 药剂师审方
    span.num #{@pres[:pending].try(:count).to_i}
  li
    | 审方通过
    span.num #{@pres['approved'].try(:count).to_i}
  li
    | 审方不通过
    span.num #{@pres['declined'].try(:count).to_i}

ul.orderList.selectCon
  - @pres[:pending] && @pres[:pending].each do |pre|
    li
      .title.clearfix
        .tt.bfL 处方号：#{pre.num}
        .status.blue.bfR 药剂师审方
      .prescriptionPhoto.clearfix
        .img = image_tag(pre.image_url, alt: "", width: "108", height: "164")
      .foot #{pre.created_at.to_s(:utc)}

ul.orderList.selectCon.hide
  - @pres['approved'] && @pres['approved'].each do |pre|
    li
      .title.clearfix
        .tt.bfL 处方号：#{pre.num}
        .status.pass.bfR 审方通过
      .prescriptionPhoto.clearfix
        .img = image_tag(pre.image_url, alt: "", width: "108", height: "164")
      .foot #{pre.created_at.to_s(:utc)}

ul.orderList.selectCon.hide
  - @pres['declined'] && @pres['declined'].each do |pre|
    li
      .title.clearfix
        .tt.bfL 处方号：#{pre.num}
        .status.warning.bfR 审方不通过
      .prescriptionPhoto.clearfix
        .img = image_tag(pre.image_url, alt: "", width: "108", height: "164")
        .tips 您的处方已完成购药流程请勿重复提交处方
      .foot #{pre.created_at.to_s(:utc)}

javascript:
  $(document).ready(function(){
    $(".selectTag").find("li").click(function(){
      var tagIndex = $(this).index();
      $(".selectTag").find("li").removeClass("current");
      $(this).addClass("current");
      $(".selectCon").hide();
      $(".selectCon").eq(tagIndex).show();
    });
  });
