.regBg

  .logo = image_tag("mobiles/logo.png", alt: "", width: "30%")

  = simple_form_for [:mobiles, @user], method: :post, html: {class: 'formBox valForm' } do |f|
    #stepOne
      .form-group.clearfix
        .w70p.bfL
          = f.input :mobile, as: :tel, label: false, wrapper: false, :input_html => { class: 'form-input', placeholder: '请输入手机号码', required: 'required' }
        .w30p.bfR
          = button_tag '获取验证码', type: 'button', class: 'valid_code_but'

      .form-group
        = number_field_tag :verify_code, nil, placeholder: '请输入验证码', class: 'form-input', required: 'required'

      = hidden_field_tag :open_id, @open_id

      = hidden_field_tag :R_verify_code

      .form-group.sub
        = button_tag '下一步', type: 'button', class: 'subBtn', id: 'nextStep'

      .tipInfo.hide
        | 此号码已被注册，请用原密码进行绑定：
        = link_to '立即去绑定', relate_user_mobiles_users_path(open_id: @open_id), class: 'link_btn'

    #stepTwo.hide
      .form-group
        = f.input :username, as: :string, label: false, wrapper: false, :input_html => { class: 'form-input', placeholder: '姓名', required: 'required' }

      .form-group
        = f.input :password, as: :password, label: false, wrapper: false, :input_html => { class: 'form-input', placeholder: '密码', required: 'required' }

      .form-group
        = f.input :password_confirmation, as: :password, label: false, wrapper: false, :input_html => { class: 'form-input', placeholder: '重复输入密码', required: 'required' }

      .form-group.clearfix
        .w60.invationTT.bfL 邀请码
        .w_offSet60 = text_field_tag :invitation_code, nil, placeholder: '(填写邀请码将获得优惠券)', class: 'form-input'

      .form-group.sub
        = f.submit '完成', class: 'subBtn'

javascript:
  $(document).ready(function(){
    // 用户获取手机验证码
    var validCodeBut = $('.valid_code_but');
    var validCode = $('#verify_code');
    var mobileInput = $('#user_mobile');
    var nextStep = $('#nextStep');
    var countWait = 60;

    validCodeBut.attr("disabled",false);
    nextStep.attr("disabled",true);
    nextStep.addClass("disabled");

    validCodeBut.unbind('click');
    validCodeBut.bind('click', function(event){
      event.preventDefault();
      var objThis = $(this);
      var regPhone = /^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}$|17[0-9]{9}$|18[0-9]{9}$/; //验证手机号码

      if (mobileInput.val() == ''){
        alert('请填写您的手机号码！');
        return false;
      }
      else if (mobileInput.val() != '' && !regPhone.test(mobileInput.val())){
        alert('请填写正确的手机号码！');
        mobileInput.val('');
        mobileInput.focus();
        return false;
      }

      objThis.attr('disabled',true);
      $.post('/api/verify_codes', { mobile: mobileInput.val() }, function(data){
        if(data['status'] == 'ok'){
          countTime(objThis);
          $('#R_verify_code').val(data['code']);
        }else{
          // alert(data.error_msg);
          $('.tipInfo').show();
        }
      });
    });

    validCode.on('keyup',function(event){
      event.preventDefault();
      var objThis = $(this);
      clearNoNum(this);

      if(objThis.val().length == 6){
        var thisV = objThis.val();
        var hiddenV = $('#R_verify_code').val();

        if (thisV == hiddenV){
          nextStep.prop('disabled', false);
          nextStep.removeClass('disabled');
        }
        else {
          nextStep.prop('disabled', true);
          nextStep.addClass('disabled');
          alert('手机或验证码输入错误！');
          objThis.val('');
        }
      }
      else if(objThis.val().length > 6){
        objThis.val('');
      }
    });

    nextStep.on('click', function(event){
      event.preventDefault();
      $('#stepOne').hide();
      $('#stepTwo').show();
    });

    function countTime(obj) {
      if (countWait == 0) {
        clearTimeout(timer);
        $(obj).attr("disabled",false);
        $(obj).removeClass("disabled");
        $(obj).html("获取验证码");
        countWait = 60;
      } else {
        $(obj).attr("disabled",true);
        $(obj).addClass("disabled");
        $(obj).html(countWait + "秒后重新获取");
        countWait--;
        var timer = setTimeout(function() {
          countTime(obj);
        },1000)
      }
    }

    $('.valForm').submit(function(){
      if ($('#user_username').val() == ''){
        alert('姓名不能为空！');
        return false;
      }
      if ($('#user_password').val() == ''){
        alert('密码不能为空！');
        return false;
      }
      if ($('#user_password_confirmation').val() == ''){
        alert('请再次填写密码！');
        return false;
      }
      else if ($('#user_password_confirmation').val() != $('#user_password').val()){
        alert('两次填写的密码不一致！');
        return false;
      }

    });

  });

  function clearNoNum(obj){
    obj.value = obj.value.replace(/[^\d]/g,""); //先把非数字的都替换掉，除了数字
  }
