.regBg

  .logo = image_tag("mobiles/logo.png", alt: "", width: "30%")

  = simple_form_for [:mobiles, @user], method: :post, html: {class: 'formBox valForm' } do |f|
    = hidden_field_tag :open_id, @open_id
    = hidden_field_tag :relate_user, true

    .form-group
      = f.input :mobile, as: :tel, label: false, wrapper: false, :input_html => { class: 'form-input', placeholder: '请输入手机号码', required: 'required' }

    .form-group
      = f.input :password, as: :password, label: false, wrapper: false, :input_html => { class: 'form-input', placeholder: '密码', required: 'required' }

    .tipInfo #{@error_notice}

    .form-group.sub
      = f.submit '完成', class: 'subBtn'

javascript:
  $(document).ready(function(){
    var regPhone = /^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}$|17[0-9]{9}$|18[0-9]{9}$/; //验证手机号码

    $('.valForm').submit(function(){
      if ($('#user_mobile').val() == ''){
        alert('请填写您的手机号码！');
        return false;
      }
      else if ($('#user_mobile').val() != '' && !regPhone.test($('#user_mobile').val())){
        alert('请填写正确的手机号码！');
        $('#user_mobile').val('');
        $('#user_mobile').focus();
        return false;
      }
      if ($('#user_password').val() == ''){
        alert('密码不能为空！');
        return false;
      }
    });

  });
