ul.crumbsNav.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心
  li
    span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
    | 个人认证

.user_valid
  #idCard.validBox.blue
    .title 身份证信息
    .main
      .tips 拍摄要求：请保持照片内信息清晰可见
      ul.list.clearfix
        li
          .box
            = image_tag("mobiles/valid/card_id.jpg", alt: "", width: "100%")
            .tag
        li.camera
          .box
            = button_tag(type: "button", id: "idCardBtn") do
              = content_tag(:p, "")
                = content_tag(:span, "", class: "icon icon-camera")
              = content_tag(:span, "拍身份证")
        li#id_image.photo
          .box = image_tag(@w_user.id_image_url, width: '100%')

  #medicalCard.validBox.green
    .title 医保卡信息
    .main
      .tips 拍摄要求：请保持照片内信息清晰可见
      ul.list.clearfix
        li
          .box
            = image_tag("mobiles/valid/card_hic.jpg", alt: "", width: "100%")
            .tag
        li.camera
          .box
            = button_tag(type: "button", id: "medicalCardBtn") do
              = content_tag(:p, "")
                = content_tag(:span, "", class: "icon icon-camera")
              = content_tag(:span, "拍医保卡")
        li#hic_image.photo
          .box = image_tag(@w_user.hic_image_url, width: '100%')

  = hidden_field_tag 'open_id', @open_id

  = button_tag '完成', id: 'validSub'

javascript:
  $(document).ready(function(){
    $('ul.list > li').find('.box').each(function(){
      var aa = $(this).outerWidth();
      $(this).outerHeight(aa * 0.66);
    });

    $('#validSub').click(function(){
      if($('#id_image > .box').find('img').length == 0 || $('#id_image > .box').find('img').attr('src') == ''){
        alert('请上传身份证照片！');
        return false;
      }
      /*else if($('#hic_image > .box').find('img').attr('src') == ''){
        alert('请上传医保卡照片！');
        return false;
      }*/
      alert('您已成功提交！');
    });
  });

  var shareUrlLink = gon.info['url'];
  var shareTitle = "上益药，买好药";
  var shareIconPath = "http://sphapp.lankr.cn#{ image_path('mobiles/icon.jpg') }";
  var shareDesc = "上益药，买好药";

  wx.ready(function () {
    // 分享到朋友圈
    wx.onMenuShareTimeline({
      title: shareTitle, // 分享标题
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享给朋友
    wx.onMenuShareAppMessage({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享到QQ
    wx.onMenuShareQQ({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享到腾讯微博
    wx.onMenuShareWeibo({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 5 图片接口
    // 5.1 拍照、本地选图
    var images = {
      localId: [],
      serverId: []
    };
    var openId = $('#open_id').val();

    document.querySelector('#idCardBtn').onclick = function () {
      wx.chooseImage({
        success: function (res) {
          var i = 0, length = res.localIds.length;
          var localIds = res.localIds;

          wx.uploadImage({
            localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
              var serverId = res.serverId; // 返回图片的服务器端ID
              uploadImageToServer_id(serverId, openId)
            }
          });
        }
      });
    }

    function uploadImageToServer_id(mediaId,openId){
      $.ajax({
        method: 'POST',
        url: '/mobiles/users/upload',
        data: {
          image_src: mediaId,
          image_type: 'id_image',
          open_id: openId,
          source_info: 'wechat'
        },
        success: function(data){
          $('#id_image').find('.box').html('<img src='+ data.image_url +' width="100%" />');
        }
      });
    }

    document.querySelector('#medicalCardBtn').onclick = function () {
      wx.chooseImage({
        success: function (res) {
          var i = 0, length = res.localIds.length;
          var localIds = res.localIds;

          wx.uploadImage({
            localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
              var serverId = res.serverId; // 返回图片的服务器端ID
              uploadImageToServer_hic(serverId, openId)
            }
          });
        }
      });
    }

    function uploadImageToServer_hic(mediaId,openId){
      $.ajax({
        method: 'POST',
        url: '/mobiles/users/upload',
        data: {
          image_src: mediaId,
          image_type: 'hic_image',
          open_id: openId,
          source_info: 'wechat'
        },
        success: function(data){
          $('#hic_image').find('.box').html('<img src='+ data.image_url +' width="100%" />');
        }
      });
    }

    // 5.2 图片预览
    document.querySelector('#previewImage').onclick = function () {
      wx.previewImage({
        current: 'http://img5.douban.com/view/photo/photo/public/p1353993776.jpg',
        urls: [
          'http://img3.douban.com/view/photo/photo/public/p2152117150.jpg',
          'http://img5.douban.com/view/photo/photo/public/p1353993776.jpg',
          'http://img3.douban.com/view/photo/photo/public/p2152134700.jpg'
        ]
      });
    };

    // 5.3 上传图片
    document.querySelector('#uploadImage').onclick = function () {
      if (images.localId.length == 0) {
        alert('请先使用 chooseImage 接口选择图片');
        return;
      }
      var i = 0, length = images.localId.length;
      images.serverId = [];
      function upload() {
        wx.uploadImage({
          localId: images.localId[i],
          success: function (res) {
            i++;
            alert('已上传：' + i + '/' + length);
            images.serverId.push(res.serverId);
            if (i < length) {
              upload();
            }
          },
          fail: function (res) {
            alert(JSON.stringify(res));
          }
        });
      }
      upload();
    };

    // 5.4 下载图片
    document.querySelector('#downloadImage').onclick = function () {
      if (images.serverId.length === 0) {
        alert('请先使用 uploadImage 上传图片');
        return;
      }
      var i = 0, length = images.serverId.length;
      images.localId = [];
      function download() {
        wx.downloadImage({
          serverId: images.serverId[i],
          success: function (res) {
            i++;
            alert('已下载：' + i + '/' + length);
            images.localId.push(res.localId);
            if (i < length) {
              download();
            }
          }
        });
      }
      download();
    };

  });
