ul.crumbsNav.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心
  li
    span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
    | 个人认证

.validSuccess
  .icon
    .img = image_tag('mobiles/valid_success.png', alt: '', width: '22%')
    .tt 您已是认证用户

  ul.list
    li.clearfix
      .bfL 用户名
      .bfR #{@w_user.username}
    li.clearfix
      .bfL 身份证号码
      .bfR #{@w_user.id_num}
    li.clearfix
      .bfL 医保卡号码
      .bfR #{@w_user.hic_num}

  .p10 = link_to '重新认证', gen_auth_url('mobiles/users/valid'), class: 'valid_but'
