= simple_form_for [:admin, :v2, @medicine], url: url, html: { class: 'form-horizontal formBox valForm' }, as: :medicine do |f|
  .form-group
    = f.label :name, '药品名', class: 'col-sm-3'
    .col-sm-5
      = f.input_field :name, class: 'form-control', required: 'required'

  .form-group
    = f.label :common_name, '通用名', class: 'col-sm-3'
    .col-sm-5
      = f.input_field :common_name, class: 'form-control', required: 'required'

  .form-group
    = f.label :e_name, '英文名', class: 'col-sm-3'
    .col-sm-5
      = f.input_field :e_name, class: 'form-control'

  .form-group
    = f.label :manufacturer_name, '厂商', class: 'col-sm-3'
    .col-sm-5
      = f.input_field :manufacturer_name, disabled: 'disabled', class: 'form-control'

  .form-group
    = f.label :identifier, '药品识别码', class: 'col-sm-3'
    .col-sm-5
      = f.input_field :identifier, class: 'form-control'

  .form-group
    = f.label :dosage_form, '剂型', class: 'col-sm-3'
    .col-sm-5
      = f.input_field :dosage_form, class: 'form-control', required: 'required'

  .form-group
    = f.label :specification, '规格', class: 'col-sm-3'
    .col-sm-5
      = f.input_field :specification, class: 'form-control'

  .form-group
    = f.label :is_health_insurance, '是否医保', class: 'col-sm-3'
    .col-sm-2
      = f.input :is_health_insurance, as: :select, collection: [['是',true],['否',false]], include_blank: false, label: false, wrapper: false, input_html: { class: 'form-control' }

  .form-group
    = f.label :description, '药品说明', class: 'col-sm-3'
    .col-sm-5
      = f.text_area :description, rows: 4, class: 'form-control'

  .form-group
    = f.label :image, '药品图片', class: 'col-sm-3'
    .col-sm-5
      .imgBox = image_tag(@medicine.image_url, alt: '', title: '', width: '100%', id: 'thumbnail')
      .fileInput
        .fileBtn.mt20
          | 编辑药品图片
          = f.file_field(:image,  accept: 'image/png,image/gif,image/jpeg', class: 'button', id: 'upImgBtn')


  .form-group
    .col-sm-8.col-sm-offset-3
      = f.button :submit, '提交', class: 'btn btn-primary mr20'
      = link_to '取消', admin_v2_medicines_path, class: 'btn btn-warning'

javascript:
  $(document).ready(function(){
    $("#upImgBtn").uploadPreview({ Img: "thumbnail", Width: 140, Height: 94 });
  });
