.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 药品管理
    ol.breadcrumb
      li.active 药品列表

  .col-lg-2 = link_to '新建药品', new_admin_v2_medicine_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 药品列表
      = form_tag admin_v2_medicines_path, :method => 'get', class: 'form-inline tagSeach bfR' do
        .input-group
          = text_field_tag :search, nil, class: 'form-control input-sm'
          span.input-group-btn
            = submit_tag '搜索', name: nil, class: 'btn btn-sm btn-info'

    .ibox-content
      table.table.table-striped
        thead
          tr
            th 药品名
            th 通用名
            th 英文名
            th 厂商
            th 药品识别码
            th 规格
            th 剂型
            th 是否医保
            th 商品编号
            th 操作
        tbody
          - @medicines.each do |item|
            tr
              td= item.name
              td= item.common_name
              td= item.e_name
              td= item.manufacturer.try(:name)
              td= item.identifier
              td= item.specification
              td= item.dosage_form
              td= item.is_health_insurance ? '是' : '否'
              td= item.serial_no
              td= link_to '编辑', edit_admin_v2_medicine_path(item)

      = paginate @medicines
