.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 药品管理
    ol.breadcrumb
      li = link_to '返回列表', admin_v2_medicines_path
      li.active 新建药品

  .col-lg-2 = link_to '返回列表', admin_v2_medicines_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 新建药品
    .ibox-content
      .row
        = render partial: 'form', locals: { url: admin_v2_medicines_path }
