table.table.table-striped
  thead
    tr
      th 姓名
      th 医保卡号
      th 手机号
      th 激活码
      th 状态
      th 注册时间
      th 角色
      th 注册来源
      th 操作
  tbody
    - @patients.each do |item|
      tr
        td= item.username
        td= item.sin
        td= item.mobile
        td= item.activation_code
        td= item.status
        td= item.created_at.strftime("%F %T")
        td= item.role
        td= item.registered_from
        td
          = link_to '编辑', admin_v2_user_path(item)
          ||
          = link_to '认证', admin_v2_user_path(item)

= paginate  @patients
