.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 用户管理
    ol.breadcrumb
      li.active 用户列表

  .col-lg-2

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    ul.nav.nav-tabs.tabNav
      li.active
        a data-toggle="tab" href="#tab-1" aria-expanded="true"
          | 待认证
          span.label.label-info.pull-right 2
      li
        a data-toggle="tab" href="#tab-2" aria-expanded="false"
          | 已认证
          span.label.label-info.pull-right 2

    .tab-content
      #tab-1.ibox-content.tab-pane.active
        = render partial: 'list'

      #tab-2.ibox-content.tab-pane
