.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 用户管理
    ol.breadcrumb
      li = link_to '用户列表', admin_v2_users_path
      li.active 认证
  
  .col-lg-2 = link_to '返回列表', admin_v2_users_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 认证详情
    .ibox-content
      .row
        .col-sm-5.pull-left
          .imgBox
            = link_to(image_tag(@patient.try(:id_image), alt: '', title: '', width: '100%'), '#imgModal', data: {toggle: 'modal', target: '#imgModal'})
        
        .col-sm-5.pull-right
          .imgBox
            = link_to(image_tag(@patient.try(:hic_image), alt:'', title: '', width: '100%'), '#imgModal-card', data: {toggle: 'modal', target: '#imgModal-card'})
      
      .row
        .col-sm-5
          - if @patient.id_unrecognized?
            = link_to '认证通过', update_identity_admin_v2_user_path(@patient), method: :patch
          - else
            = link_to '撤回认证', update_identity_admin_v2_user_path(@patient), method: :patch  
            

#imgModal-card.modal.fade.bs-example-modal-lg
  .modal-dialog.modal-lg
    .modal-content
      .modal-header style='border-bottom: 0;'
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times
      .modal-body#imgBox-card
        = image_tag(@patient.try(:hic_image), id: 'rotImg', alt: '', title: '', height: '', width: '100%')
                        
#imgModal.modal.fade.bs-example-modal-lg
  .modal-dialog.modal-lg
    .modal-content
      .modal-header style='border-bottom: 0;'
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times
      .modal-body#imgBox
        = image_tag(@patient.try(:id_image), id: 'rotImg', alt: '', title: '', height: '', width: '100%')
       
             
               