= form_for [:admin, :v2, @hospital], html: { class: 'form-horizontal formBox valForm' } do |f|

  .form-group
    = f.label :name, '医院名称: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :name, class: 'form-control', required: 'required'

  .form-group
    = f.label :province_id, '省份: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.select :province_id, options_for_select(Area.provinces.collect{ |ele| [ele.name, ele.id] }, @hospital.province_id), { prompt:'请选择省份' }, class: 'form-control', required: 'required'

  .form-group
    = f.label :city_id, '城市: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.select :city_id, options_for_select([]), { prompt: '请选择城市' }, class: 'form-control', required: 'required'

  .form-group
    = f.label :address, '医院地址: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :address, class: 'form-control', required: 'required'

  .form-group
    = f.label :grading, '等级: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :grading, class: 'form-control', required: 'required'

  .form-group
    = f.label :phone, '电话: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :phone, class: 'form-control', required: 'required'

  .form-group
    .col-sm-8.col-sm-offset-3
      = f.submit '提交', class: 'btn btn-primary mr20'
      = link_to '取消', admin_v2_hospitals_path, class: 'btn btn-warning'


javascript:
  $(document).ready(function() {
    /*省市选择*/
    var province = $('#hospital_province_id');
    province.on('change', function(e){
      e.preventDefault();

      var city = $('#hospital_city_id');
      var pid = $(this).val();
      var url = '/api/areas/get_cities?province_id=' + pid;

      $.get(url, function(d){
        if(d.status == 'ok'){
          city.empty();
          $.each(d.cities, function(index, value){
            city.append("<option value=" + value[1]+ ">"+ value[0] +"</option>");
          });
        }else{
          alert(d.error_msg);
        }
      });
    });
  });
