.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 医院管理
    ol.breadcrumb
      li.active 医院列表

  .col-lg-2 = link_to '新建医院', new_admin_v2_hospital_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 医院列表

    .ibox-content
      table.table.table-striped
        thead
          tr
            th 省
            th 市
            th 医院名称
            th 地址
            th 电话
            th 级别
            th gps
            th 操作
        tbody
          - @hospitals.each do |item|
            tr
              td= item.province.try(:name)
              td= item.city.try(:name)
              td= item.name
              td= item.address
              td= item.phone
              td= item.grading
              td= item.gps
              td= link_to '编辑', edit_admin_v2_hospital_path(item)
