<div class="form-horizontal loginBox">

  <h2 class="tt">请您登录！</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :"帐号（手机号）：", class: "col-sm-4 control-label" %>
      <div class="col-sm-8 inputBox">
        <%= f.text_field :mobile, class: "form-control", autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :"密码：", class: "col-sm-4 control-label" %>
      <div class="col-sm-8 inputBox">
        <%= f.password_field :password, class: "form-control", autocomplete: "off" %>
      </div>
    </div>

    <div class="form-group">
      <% if devise_mapping.rememberable? -%>
        <div class="checkbox-inline bfR">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, "记住密码" %>
        </div>
      <% end -%>
    </div>

    <div class="actions">
      <%= f.submit "登录",class: "btn btn-primary" %>
      <%= link_to "忘记密码？", new_password_path(resource_name) %>
      <%= link_to "注册", new_registration_path(resource_name) %>
    </div>
  <% end %>

</div>
