ul.crumbsNav.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心
  li
    = link_to gen_auth_url('mobiles/users/my_orders') do
      span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
      | 我的优惠券
  li
    span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
    | 分享

.couponsShowTag.clearfix
  .box
    .num 3
    .tt
      = image_tag('mobiles/coupons/icon_ticket.png', alt: "", width:'10%')
      | 邀请码
  .box
    .num 1
    .tt
      = image_tag('mobiles/coupons/icon_share.png', alt: "", width:'10%')
      | 分享次数

.couponsDetail
  .title 邀请码
  .code ABCD
  / .qrCode
  /   .tt 扫一扫 获得优惠券
  /   .img = image_tag('mobiles/coupons/qr.jpg', alt: "", width:'36%')
  / .share
  /   .tt 分享至
  /   ul.list.clearfix
  /     li
  /       = link_to '#' do
  /         .img
  /         .tt 微信

  /     li
  /       = link_to '#' do
  /         .img
  /         .tt 短信

javascript:
  var shareUrlLink = gon.info['url'];
  var shareTitle = "上益药，买好药";
  var shareIconPath = "http://sphapp.lankr.cn#{ image_path('mobiles/icon.jpg') }";
  var shareDesc = "上益药，买好药";

  wx.ready(function () {
    // 分享到朋友圈
    wx.onMenuShareTimeline({
      title: shareTitle, // 分享标题
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享给朋友
    wx.onMenuShareAppMessage({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享到QQ
    wx.onMenuShareQQ({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享到腾讯微博
    wx.onMenuShareWeibo({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

  });
