table.table.table-striped
  thead
    tr
      th width='20%'
        | 活动图片
      th width='30%'
        | 活动名称
      th width='44%'
        | 活动链接
      th width='6%'
        | 操作
  tbody
    - items.each do |item|
      tr
        td= image_tag(item.image_url, height: '', width: '100%')
        td= link_to item.title, admin_v2_weixin_activity_path(item)
        / td= item.content
        td= link_to item.link, item.link
        td= link_to '编辑', edit_admin_v2_weixin_activity_path(item)
