.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 消息管理
    ol.breadcrumb
      li.active 消息管理

  .col-lg-2 = link_to '创建新的活动', new_admin_v2_weixin_activity_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins

    ul.nav.nav-tabs.tabNav
      li.active
        a data-toggle="tab" href="#tab-1" aria-expanded="true"
          | 活动
          span.label.label-info.pull-right =  @activities[:activity].total_count
      li
        a data-toggle="tab" href="#tab-2" aria-expanded="false"
          | 赠药
          span.label.label-info.pull-right = @activities[:donate].total_count

    .tab-content
      #tab-1.ibox-content.tab-pane.active
        = render partial: 'list', locals: { items: @activities[:activity] }

      #tab-2.ibox-content.tab-pane
        = render partial: 'list', locals: { items: @activities[:donate] }
