.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 消息管理
    ol.breadcrumb
      li = link_to '消息管理', admin_v2_weixin_activities_path
      li.active 创建活动

  .col-lg-2 = link_to '返回列表', admin_v2_weixin_activities_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 创建活动

    .ibox-content
      .row
        = render 'form'
