table.table.table-striped
  thead
    tr
      th 用户
      th 联系方式
      th 金额
      th 配送方式
      th 时间
      th 来源
      th 状态
      th 操作
  tbody
    - orders.each do |item|
      tr
        td= item.try(:patient).try(:username)
        td= item.try(:patient).try(:mobile)
        td= item.total rescue ''
        td= item.shipment_method
        td= String(item.created_at.strftime("%F %T"))
        td= item._from
        td= state_to_chinese(item.state)
        td
          = link_to '查看', admin_v2_order_path(item)
          - if current_admin_user.super_admin?
            | |
            = link_to '删除', admin_v2_order_path(item), method: :delete, data: { confirm: '确定要删除么' }

= paginate orders
