.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 订单管理
    ol.breadcrumb
      li.active 订单列表

  .col-lg-2

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    ul.nav.nav-tabs.tabNav
      li.active
        a data-toggle="tab" href="#tab-1" aria-expanded="true"
          | 待付款
          span.label.label-info.pull-right = @orders[:confirm].total_count
      li
        a data-toggle="tab" href="#tab-2" aria-expanded="false"
          | 待确认
          span.label.label-info.pull-right = @orders[:in_progress].total_count
      li
        a data-toggle="tab" href="#tab-3" aria-expanded="false"
          | 已完成
          span.label.label-info.pull-right = @orders[:paid].total_count

      li
        a data-toggle="tab" href="#tab-4" aria-expanded="false"
          | 待审核
          span.label.label-info.pull-right = @orders[:unapproved].total_count

    .tab-content
      #tab-1.ibox-content.tab-pane.active
        = render partial: 'list', locals: { orders: @orders[:confirm] }
      #tab-2.ibox-content.tab-pane
        = render partial: 'list', locals: { orders: @orders[:in_progress] }
      #tab-3.ibox-content.tab-pane
        = render partial: 'list', locals: { orders: @orders[:paid] }
      #tab-4.ibox-content.tab-pane
        = render partial: 'list', locals: { orders: @orders[:unapproved] }
