.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 订单管理
    ol.breadcrumb
      li = link_to '订单列表', admin_v2_orders_path
      li.active 订单详情

  .col-lg-2 = link_to '返回列表', admin_v2_orders_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 订单详情
    .ibox-content
      .row
        .col-sm-5.pull-right
          .imgBox
            = link_to(image_tag(@order.prescription.try(:image), alt: '', title: '', width: '100%'), '#imgModal', data: {toggle: 'modal', target: '#imgModal'})

        .col-sm-7
          .orderShow
            .row
              .col-sm-3.txtR 收货人
              .col-sm-9= @order.ship_address.try(:name) || @order.patient.username
            .row
              .col-sm-3.txtR 联系方式
              .col-sm-9= @order.patient.mobile
            .row
              .col-sm-3.txtR 收货人地址
              .col-sm-9= @order.custom_ship_address
            .row
              .col-sm-3.txtR 配送方式
              .col-sm-9= @order.shipment_method
            .row
              .col-sm-3.txtR 时间
              .col-sm-9= @order.created_at.to_s(:utc)
            .row
              .col-sm-3.txtR 来源
              .col-sm-9= @order._from
            .row
              .col-sm-3.txtR 药品列表
              .col-sm-9
                table.table.table-striped
                  thead
                    tr
                      th 商品名称
                      th 单价
                      th 数量
                  tbody
                    - Array(@order.line_items).each do |item|
                      tr
                        td= item.product_name
                        td= item.price
                        td= item.quantity
            .row
              .col-sm-3.txtR 总金额
              .col-sm-9
                .price
                  = @order.total rescue ''
            .row
              .col-sm-3.txtR 操作
              .col-sm-4= select_tag(:status, options_for_select([['完成', 'paid']]), class: "form-control input-sm s_select", prompt: "请选择状态",  'data-id' => @order.id)

#imgModal.modal.fade.bs-example-modal-lg
  .modal-dialog.modal-lg
    .modal-content
      .modal-header style='border-bottom: 0;'
        button.close type='button' data-dismiss='modal' aria-label='Close'
          span aria-hidden='true' &times
        .modalOBtn
          span#rotRight
            span.fa.fa-rotate-right
            | 向右旋转
          span#rotLeft
            span.fa.fa-rotate-left
            | 向左旋转
      .modal-body#imgBox
        = image_tag(@order.prescription.try(:image), id: 'rotImg', alt: '', title: '', height: '', width: '100%')

javascript:
  $('#status').change(function (e) {
    e.preventDefault();

    var id = $(this).attr('data-id');

    $.ajax({
      url: "/admin/v2/orders/" + id +'/pay',
      method: 'PATCH',
      data: {status: 'paid'}
    }).done(function (data) {
      window.location.href = '/admin/v2/orders'
    });
  });
