= form_for [:admin, :v2, @coupons], html: { class: 'form-horizontal formBox valForm' } do |f|

  .form-group
    = f.label :id, 'ID: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :id, class: 'form-control', required: 'required'

  .form-group
    = f.label :address, '兑换码: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :address, class: 'form-control', required: 'required'

  .form-group
    = f.label :grading, '起始时间: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :grading, class: 'form-control', required: 'required'

  .form-group
    = f.label :phone, '终止时间: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :phone, class: 'form-control', required: 'required'

  .form-group
    = f.label :phone, '关联用户: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :phone, class: 'form-control', required: 'required'

  .form-group
    = f.label :phone, '图片: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :phone, class: 'form-control', required: 'required'

  .form-group
    = f.label :phone, '优惠金额: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :phone, class: 'form-control', required: 'required'

  .form-group
    = f.label :name, '最低限额: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :name, class: 'form-control', required: 'required'

  .form-group
    = f.label :address, '优惠活动: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :address, class: 'form-control', required: 'required'

  .form-group
    = f.label :grading, '数量限制: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :grading, class: 'form-control', required: 'required'

  .form-group
    = f.label :phone, '备注: ', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :phone, class: 'form-control', required: 'required'

  .form-group
    .col-sm-8.col-sm-offset-3
      = f.submit '提交', class: 'btn btn-primary mr20'
      = link_to '取消', admin_v2_coupons_path, class: 'btn btn-warning'
