.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 优惠券管理
    ol.breadcrumb
      li.active 优惠券列表

  .col-lg-2 = link_to '新建优惠券', new_admin_v2_coupon_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 优惠券列表

    .ibox-content
      table.table.table-striped
        thead
          tr
            th ID
            th 兑换码
            th 起始时间
            th 终止时间
            th 关联用户
            th 图片
            th 优惠金额
            th 最低限额
            th 优惠活动
            th 数量限制
            th 已兑换数量
            th 已使用数量
            th 备注
            th 操作
        tbody
          tr
            td
            td
            td
            td
            td
            td
            td
            td
            td
            td
            td
            td
            td
            td = link_to '编辑', ''
