= form_tag("/admin/prescription/#{@object.id.to_s}/approve_pres", method: :put) do
  = label_tag :num
  = text_field_tag :num, @object.num
  br
  = label_tag :status
  = select_tag("status", options_for_select(Prescription::STATUS.zip([0,1,2]), Prescription::STATUS.index(@object.status)))
  br
  = submit_tag

