<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <title>医药电商管理平台</title>
    <%= stylesheet_link_tag 'admin/v2/all', media: 'all' %>
    <%= javascript_include_tag 'admin/v2/all' %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]>
    <script src="http://apps.bdimg.com/libs/html5shiv/3.7/html5shiv.min.js"></script>
    <script src="http://apps.bdimg.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body class="<%= params[:controller] %>" id="<%= params[:controller].gsub('/', '_') %>_<%= params[:action] %>">
    <div id="wrapper">
      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
          <ul class="nav" id="side-menu">
            <li class="nav-header">
              <div class="dropdown profile-element">
                <%= link_to root_path, target: 'blank' do %>
                  <%#= image_tag 'user/photo.jpg', width: '48', height: '48', class: 'img-circle' %>
                <% end -%>
                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                  <span class="clear">
                    <span class="block m-t-xs">
                      <strong class="font-bold">您好，<%= current_admin_user.username %></strong>
                    </span>
                  </span>
                </a>
              </div>
            </li>

            <%- if current_admin_user.super_admin? %>
                <%= render partial: 'report' %>
                <%= render partial: 'main_data' %>
                <%= render partial: 'prescription' %>
                <%= render partial: 'order' %>
                <%= render partial: 'stock' %>
                <%= render partial: 'app' %>
                <%= render partial: 'weixin' %>
            <% elsif current_admin_user.content_admin?  %>
                <%= render partial: 'app' %>
                <%= render partial: 'weixin' %>
            <% elsif current_admin_user.audit_admin?  %>
                <%= render partial: 'prescription' %>
                <%= render partial: 'order' %>
            <% else current_admin_user.logistics_admin?  %>
                <%= render partial: 'order' %>
            <% end%>


          </ul>
        </div>
      </nav>
    </div>
    <div id="page-wrapper" class="gray-bg">
      <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
          <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
          </div>
          <ul class="nav navbar-top-links navbar-right">
            <li>
              <span class="m-r-sm text-muted welcome-message">欢迎登录医药电商后台管理</span>
            </li>
            <li>
              <%= link_to destroy_admin_user_session_path,  :class => 'delete' do -%>
                <i class="fa fa-sign-out"></i>
                安全退出当前帐号
              <% end -%>
            </li>
          </ul>

        </nav>
      </div>

      <div class='row flash-wrapper'>
        <%- flash.each do |type, message | %>
          <div class="alert <%= flash_class(type) %>">
          <p><%= message.html_safe %></p>
          </div>
        <% end %>
      </div>

      <!-- .flash-wrapper
      - flash.each do |type, message|
        %div{:class => "#{type}"}
          %p= message.html_safe -->

      <!-- <div class="ibox-content">
        <div class="alert alert-success">
            How quickly daft jumping zebras vex. <a class="alert-link" href="#">Alert Link</a>.
        </div>
        <div class="alert alert-info">
            How quickly daft jumping zebras vex. <a class="alert-link" href="#">Alert Link</a>.
        </div>
        <div class="alert alert-warning">
            How quickly daft jumping zebras vex. <a class="alert-link" href="#">Alert Link</a>.
        </div>
        <div class="alert alert-danger">
            How quickly daft jumping zebras vex. <a class="alert-link" href="#">Alert Link</a>.
        </div>
      </div> -->

      <%= yield %>
    </div>

  </body>
</html>
