@charset "utf-8";

/* CSS Document */
dl, dt, dd, ul, ol, li { list-style-type: none; }
h5, h6 { font-size: 100%; font-weight: normal; }
address, caption, cite, code, dfn, em, th, var { font-style: normal; font-weight: 500; }
select, input { font-size: 12px; vertical-align: middle; _vertical-align: baseline; outline: none; }
input { padding: 0; border-radius: 0; -webkit-appearance: none; }
input[type="checkbox"] { -webkit-appearance: checkbox; }
input[type="radio"] { -webkit-appearance: radio; }
textarea { resize: none; outline: none; }
img { border: none; }
audio:not([controls]) { display: none; }
input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner { border: none; padding: 0; }

/*firefox input text-align center*/
.clearfix:after { content: "."; display: block; clear: both; height: 0; visibility: hidden; }
.clearfix { zoom: 1; }

/*
**styles reset end && page style begin**
*/
.flash-wrapper { .alert { border-radius: 0; }
}
.form-horizontal { .control-label { padding-top: 0; }
}

/*common styles*/
.tabNav { border-bottom: none; }
.tabNav > li > a, .tabNav > li > a:hover, .tabNav > li > a:focus { border-bottom: none; }
.tabNav > li.active > a, .tabNav > li.active > a:hover, .tabNav > li.active > a:focus { border-bottom: none; background-color: #fff; }
.tabNav > li > a .label { margin-left: 6px; }

/*login styles*/
.loginBox { position: absolute; top: 50%; left: 50%; width: 400px; padding: 24px; margin: -200px 0 0 -200px; border: 1px solid #e5e6e7; border-radius: 8px; background-color: #fff; }
.loginBox .tt { margin: 0 0 24px; text-align: center; }
.loginBox .form-group { margin-right: 0; margin-left: 0; }
.loginBox .form-group label { line-height: 34px; padding: 0; margin-bottom: 0; }
.loginBox .form-group .inputBox { padding: 0; }
.loginBox .form-group .checkbox-inline { padding-top: 0; }
.loginBox .form-group .checkbox-inline label { line-height: inherit; }
.loginBox .actions { text-align: center; }
.loginBox .actions .btn { width: 80px; }
.loginBox .actions a { margin-left: 8px; }

/*side nav styles*/
.nav > li.active { border-left: none; background-color: transparent; }
.nav > li.active > a.tt { padding-left: 21px; border-left: 4px solid #19aa8d; background: #293846; }
.nav > li > a i { width: 20px; text-align: center; }
.nav > li ul.nav-second-level { padding: 4px 0; border-bottom: 1px solid #293846; }
.nav > li ul.nav-second-level li a { display: block; padding: 10px 20px 10px 54px; color: #a7b1c2; }
.nav > li ul.nav-second-level li a:hover, .nav > li ul.nav-second-level li.active a { color: #fff; background: #293846; }
.nav-second-level li:last-child { margin-bottom: 0; }

/*prescriptions styles*/
.orderTable { margin-top: 20px; }
.table-striped td { line-height: 30px !important; }
.table-striped td .s_select { width: 120px; }
.modalOBtn { text-align: center; }
.modalOBtn span { margin: 0 4px; }
#rotRight, #rotLeft { margin: 0 8px; cursor: pointer; }
#rotImg { width: 100%; }
.formBox .form-group { line-height: 34px; }
.formBox .form-group label { text-align: right; }
.formBox .form-group .checkbox-inline { padding-top: 0; }
.formBox .form-group .checkbox-inline input { margin-top: 10px; }
.delete-pres-item { display: inline-block; line-height: 34px; }

/*orderShow styles*/
.orderShow { line-height: 30px; }
.orderShow > .row { margin-bottom: 14px; }
.price { font-size: 18px; font-weight: bold; color: #ed5565; }

/*pagination styles*/
.pagination .gap, .pagination a { position: relative; float: left; line-height: 1.42857; padding: 4px 10px; margin-left: -1px; border: 1px solid #DDDDDD; color: inherit; text-decoration: none; background-color: #FFFFFF; }
.pagination a:hover { background-color: #f4f4f4; }
.pagination .page.current { z-index: 2; float: left; padding: 4px 10px; margin-left: -1px; border: 1px solid #DDDDDD; color: inherit; background-color: #f4f4f4; }
.pagination>span:first-child>a, .pagination>span:first-child { margin-left: 0; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.pagination>span:last-child>a, .pagination>span:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }

/*chosen styles*/
.chosen-container-single .chosen-single abbr { background: image_url('chosen/chosen-sprite.png') -42px 1px no-repeat; }
.chosen-container-single .chosen-single div b { background: image_url('chosen/chosen-sprite.png') no-repeat 0px 8px; }
.chosen-container-active.chosen-with-drop .chosen-single div b { background-position: -18px 8px; }
.chosen-container-single .chosen-search input[type="text"] { background: white image_url('chosen-sprite.png') no-repeat 100% -20px; background: image_url('chosen/chosen-sprite.png') no-repeat 100% -20px; }
.chosen-container-multi .chosen-choices li.search-choice .search-choice-close { background: image_url('chosen/chosen-sprite.png') -42px 1px no-repeat; }
@media only screen and (-webkit-min-device-pixel-ratio:2), only screen and (min-resolution:144dpi) {
  .chosen-rtl .chosen-search input[type="text"], .chosen-container-single .chosen-single abbr, .chosen-container-single .chosen-single div b, .chosen-container-single .chosen-search input[type="text"], .chosen-container-multi .chosen-choices .search-choice .search-choice-close, .chosen-container .chosen-results-scroll-down span, .chosen-container .chosen-results-scroll-up span { background-image: image_url('chosen/chosen-sprite@2x.png') !important; }
}
.input-group-addon { padding: 6px; }
.delete-pres-item { font-size: 20px; font-weight: bold; }
.fileBtn { position: relative; height: 34px; line-height: 34px; border: 1px solid #ccc; border-radius: 4px; text-align: center; background-color: #f8f8f8; }
.fileBtn .button { position: absolute; top: 0; left: 0; width: 100%; height: 34px; overflow: hidden; opacity: 0; filter: alpha(opacity=0); cursor: pointer; }
.fileBtn:hover { background-color: #e6e6e6; }
.fileBtn.black { border: 1px solid #6d6d6d; color: #FFF; background-color: #6d6d6d; cursor: default; }
.has-error #prescription_hospital_id_chosen .chosen-single { border-color: #ed5565; }
.help-block { margin-top: 0; margin-bottom: 0; }
.tagSeach { margin-top: -8px; }
.tagSeach .btn { margin-bottom: 0; }

/*reset styles*/
.bfL { float: left; }
.bfR { float: right; }
.txtC { text-align: center; }
.txtR { text-align: right; }
.mt20 { margin-top: 20px; }
.mr20 { margin-right: 20px; }
.ml10 { margin-left: 10px; }
