.appsBg

  .logo1 = image_tag("apps/logo1.png", alt: "", width: "100%")
  .logo2 = image_tag("apps/logo2.png", alt: "", width: "100%")

  .info
    .title 上益药 买好药
    .tag 足不出户，处方药品送到家

  .img = image_tag("apps/img1.jpg", alt: "", width: "56%")

  .downloadBtn
    = link_to("javascript:;", id: "appDlLink") do
      span class="icon icon-download"
      | 立即下载

  .foot 上海医药大健康云商股份有限公司出品

#popweixin
  p 如果无法直接下载
  p 请从浏览器中打开链接！

javascript:
  var appLinkBtn = document.getElementById('appDlLink');
  var u = navigator.userAgent,
      app = navigator.appVersion;
  var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //android终端或者uc浏览器
  var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端

  appLinkBtn.onclick = function(){
    downApp();
  }

  function downApp(){
    var ua = navigator.userAgent.toLowerCase();

    if(/micromessenger/.test(ua)){
      document.getElementById('popweixin').style.display = 'block';
    }
    else {
      if (isiOS){
        window.location = 'http://fir.im/pdemoios';
      }
      else if (isAndroid){
        window.location = 'http://fir.im/patientdemo';
      }
    }
  }
