= form_for [ :admin, :v2, @activity ], html: { class: 'form-horizontal formBox valForm' } do |f|
  .form-group
    = f.label :title, '活动名称', class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_field :title, class: 'form-control', required: 'required'

  .form-group
    = f.label :content, '活动内容', class: 'col-sm-2 control-label'
    .col-sm-8
      = f.text_area(:content, rows: 6, class: 'form-control', required: 'required')

  .form-group
    = f.label :link, '活动链接', class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_field :link, class: 'form-control', required: 'required'

  .form-group
    = f.label :manner, '类型', class: 'col-sm-2 control-label'
    .col-sm-2
      = f.select :manner, options_for_select( Activity::MANNERS.zip(Activity::MANNERS), selected: f.object.manner), {prompt: '选择类型'}, class: 'form-control', required: 'required'

  .form-group
    = f.label :image, '活动图片', class: 'col-sm-2 control-label'
    .col-sm-2
      .imgBox = image_tag(@activity.image_url, alt: '', title: '', width: '100%', id: 'thumbnail')
      .fileInput
        .fileBtn
          | 编辑活动图片
          = f.file_field(:image,  accept: 'image/png,image/gif,image/jpeg', class: 'button', id: 'upImgBtn')

  .form-group
    .col-sm-8.col-sm-offset-2
      = f.submit '提交', class: 'btn btn-primary mr20'
      = link_to '取消', admin_v2_activities_path, class: 'btn btn-warning'

javascript:
  $(document).ready(function(){
    $("#upImgBtn").uploadPreview({ Img: "thumbnail", Width: 140, Height: 94 });
  });
