.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 消息管理
    ol.breadcrumb
      li = link_to '消息管理', admin_v2_activities_path
      li.active 活动详情

  .col-lg-2 = link_to '返回列表', admin_v2_activities_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 活动详情

    .ibox-content
      .orderShow
        .row
          .col-sm-3.txtR 活动名称
          .col-sm-6 = @activity.title

        .row
          .col-sm-3.txtR 类型
          .col-sm-6 = @activity.manner

        .row
          .col-sm-3.txtR 活动链接
          .col-sm-6 = link_to @activity.link, @activity.link

        .row
          .col-sm-3.txtR 活动图片
          .col-sm-6 = image_tag(@activity.image_url, alt: '', title: '', width: '100%')

        .row
          .col-sm-3.txtR 活动内容
          .col-sm-8 = @activity.content
