= simple_form_for @address, url: url, html: {class: 'valForm formBox addressForm'} do |f|
  .box
    .form-group
      = f.input :name, label: false, wrapper: false, input_html: { placeholder: '联系人姓名', class: 'form-input', required: 'required' }

    .form-group
      = f.input :phone, label: false, wrapper: false, input_html: { placeholder: '手机号码', class: 'form-input', required: 'required'}

  .box
    .form-group
      .selectArr
        = f.select :state, options_for_select(Area.provinces.collect{|ele| [ele.name, ele.id]}, Area.where(name: @address.state).first.try(:id)), { prompt: '请选择省份' }, class: 'form-select', required: 'required'

    .form-group
      .selectArr
        = f.select :city, options_for_select(@address.new_record? ? [] :  Area.where(name: @address.state).first.children.collect{|ele| [ele.name, ele.id]}, Area.where(name: @address.city).first.try(:id)), { prompt: '请选择城市' }, class: 'form-select', required: 'required'

    .form-group
      = f.input :address1, label: false, wrapper: false, input_html: { placeholder: '详细地址', class: 'form-input', required: 'required' }

    .form-group
      = f.input :zip_code, label: false, wrapper: false, input_html: { placeholder: '邮编', class: 'form-input' }

  - unless @address.new_record?
    .addressNew = link_to '删除此收货地址', mobiles_user_address_path(@user, @address), method: :delete, data: { confirm:'Are u sure?' }, class: 'addDefault_but'

  .footSub.clearfix
    = link_to "返回", gen_auth_url('mobiles/users/my_addresses'), class: "backBtn"
    = f.button :button, class: "subBtn" do
      span.tt 确定

javascript:
  $(document).ready(function(){
    var regPhone = /^13[0-9]{9}$|14[0-9]{9}|15[0-9]{9}$|17[0-9]{9}$|18[0-9]{9}$/; //验证手机号码
    $(".addressForm").submit(function(){
      if ($('#address_name').val() == ''){
        alert('请填写您的姓名！');
        return false;
      }

      if ($('#address_phone').val() == ''){
        alert('请填写您的手机号码！');
        return false;
      }
      else if ($('#address_phone').val() != '' && !regPhone.test($('#address_phone').val())){
        alert('请填写正确的手机号码！');
        $('#address_phone').val('');
        $('#address_phone').focus();
        return false;
      }

      if ($('#address_state').val() == ''){
        alert('请选择所在省份！');
        return false;
      }

      if ($('#address_city').val() == ''){
        alert('请选择所在城市！');
        return false;
      }

      if ($('#address_address1').val() == ''){
        alert('请填写详细地址！');
        return false;
      }

    });

    /*省市选择*/
    var province = $('#address_state');
    province.on('change', function(e){
      e.preventDefault();

      var city = $('#address_city');
      var pid = $(this).val();
      var url = '/api/areas/get_cities?province_id=' + pid;

      $.get(url, function(d){
        if(d.status == 'ok'){
          city.empty();
          $.each(d.cities, function(index, value){
            city.append("<option value=" + value[1]+ ">"+ value[0] +"</option>");
          });
        }else{
          alert(d.error_msg);
        }
      });
    });

  });
