ul.crumbsNav.mb-10.clearfix
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/icon_user.png', alt: '', width: '18')
      | 个人中心
  li
    = link_to gen_auth_url('mobiles/users/my_addresses') do
      span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
      | 收货地址管理
  li
    span.icon = image_tag('mobiles/icon_crumbs.png', alt: '', width: '18')
    | 编辑

= render partial: 'form', locals: {url: mobiles_user_address_path(@user, @address), method: 'patch'}
