= simple_form_for :address, url: set_default_mobiles_user_addresses_path(user_id: @user.id), html: {class: 'valForm'} do |f|
  ul.addressList
    li
      .tag.clearfix
        .name.bfL 收货人：李木子
        = link_to "编辑", "#", class: "link bfR"

      .detail
        p 手机：
        p 地址：

  .footSub.clearfix
    = link_to "返回", edit_shipment_mobiles_order_path(@order), class: "backBtn"
    = f.button :button, class: "subBtn" do
      span.tt 确定
