= form_for [:admin, :v2, @admin_user], html: { class: 'form-horizontal formBox valForm' } do |f|
  .form-group
    = f.label :username, '用户名', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :username, class: 'form-control', required: 'required', placeholder: "请输入用户名"

  .form-group
    = f.label :mobile, '手机号码', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.telephone_field :mobile, class: 'form-control', required: 'required', placeholder: "请输入手机号码,例如:13987654321"

  - if(action_name == "new" && controller_name == "admin_users")
    .form-group
      = f.label :password, '密码', class: 'col-sm-3 control-label'
      .col-sm-5
        = f.password_field :password, class: 'form-control', required: 'required', placeholder: "请输入不少于六位的密码"

    = f.hidden_field :email, :value => Time.now.to_i.to_s + "@qq.com"

  .form-group
    = f.label :role, '角色', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.select :role, @roles, { include_blank: '请选择用户角色'}, { :class => 'form-control' }

  .form-group
    = f.label :zone_ids, '省份', class: 'col-sm-3 control-label'
    .col-sm-5
      - @areas.each do |area|
        label.checkbox-inline
          = check_box_tag "admin_user[zone_ids][]", area.id, @admin_user.zones.map(&:id).include?(area.id), {:id => ''}
          = area.name

  .form-group
    .col-sm-8.col-sm-offset-3
      = f.submit '提交', class: 'btn btn-primary mr20'
      = link_to '取消', admin_v2_admin_users_path, class: 'btn btn-warning'
