= form_for [:admin, :v2, @admin_user], html: { class: 'form-horizontal formBox valForm' } do |f|
  .form-group
    = f.label :username, '用户名', class: 'col-sm-3 control-label'
    .col-sm-5
      = @admin_user.username

  .form-group
    = f.label :mobile, '手机号码', class: 'col-sm-3 control-label'
    .col-sm-5
      = @admin_user.mobile

  .form-group
    = f.label :password, '密码', class: 'col-sm-3 control-label'
    .col-sm-5
      = f.text_field :password, class: 'form-control', required: 'required', placeholder: "请输入不少于六位的密码"

  .form-group
    .col-sm-8.col-sm-offset-3
      = f.submit '提交', class: 'btn btn-primary mr20'
      = link_to '取消', admin_v2_admin_users_path, class: 'btn btn-warning'