.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 管理员
    ol.breadcrumb
      li = link_to '返回列表', admin_v2_admin_users_path
      li.active 编辑管理员

  .col-lg-2 = link_to '返回列表', admin_v2_admin_users_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 编辑管理员
    .ibox-content
      .row
        = render partial: 'form', locals: { url: admin_v2_admin_user_path(@admin_user) }