.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 管理员
    ol.breadcrumb
      li.active 管理员列表

  .col-lg-2 = link_to '新建管理员', new_admin_v2_admin_user_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight

  .ibox.float-e-margins
    .ibox-title
      h5 管理员列表

    .ibox-content
      table.table.table-striped
        thead
          tr
            th 手机号码
            th 用户名
            th 角色
            th 地区
            th 操作
        tbody
          - @admin_users.each do |admin_user|
            tr
              td= admin_user.mobile
              td= admin_user.username
              td= admin_user.role.upcase
              td= admin_user.zones.map(&:name).join(",")
              td
                = link_to '编辑', edit_admin_v2_admin_user_path(admin_user), class: 'btn btn-sm btn-primary'
                = link_to '密码重置', reset_password_admin_v2_admin_user_path(admin_user), class: 'btn btn-sm btn-primary ml10'
                = link_to '删除', admin_v2_admin_user_path(admin_user), method: :delete, data: { confirm: '确认删除？' }, class: 'btn btn-sm btn-danger ml10'

      = paginate @admin_users
