= form_for [:admin, :v2, @department], html: { class: 'form-horizontal formBox valForm' } do |f|
  .form-group
    = f.label :name, '科室名称: ', class: 'col-sm-2'
    .col-sm-4
      = f.text_field :name, class: 'form-control', required: 'required'

  .form-group
    .col-sm-8.col-sm-offset-2
      = f.submit '提交', class: 'btn btn-primary mr20'
      = link_to '取消', admin_v2_departments_path, class: 'btn btn-warning'
