.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 科室管理
    ol.breadcrumb
      li = link_to '返回列表', admin_v2_departments_path
      li.active 编辑科室

  .col-lg-2 = link_to '返回列表', admin_v2_departments_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 编辑科室
    .ibox-content
      .row
        = render 'form'
