.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 科室管理
    ol.breadcrumb
      li.active 科室管理列表

  .col-lg-2 = link_to '创建新的科室', new_admin_v2_department_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 科室管理列表

    .ibox-content
      table.table.table-striped
        thead
          tr
            th 科室名称
            th 编辑
            th 删除
        tbody
          - @departments.each do |item|
            tr
              td= item.name
              td
                = link_to '编辑', edit_admin_v2_department_path(item)
              td
                = link_to '删除', admin_v2_department_path(item), method: :delete, data: { confirm: '确认删除？' }

      - if @departments.present?
        .hr-line-dashed

      = paginate @departments
