@font-face {
	font-family: 'icomoon';
	src:asset-url('fonts/icomoon.eot?9km9nk');
	src:asset-url('fonts/icomoon.eot?#iefix9km9nk') format('embedded-opentype'),
		asset-url('fonts/icomoon.ttf?9km9nk') format('truetype'),
		asset-url('fonts/icomoon.woff?9km9nk') format('woff'),
		asset-url('fonts/icomoon.svg?9km9nk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
	content: "\e600";
}
.icon-download:before {
	content: "\e601";
}
.icon-order:before {
	content: "\e602";
}
.icon-tel:before {
	content: "\e603";
}
