ul.avtList
  - @activities.each do |activity|
    li
      = link_to activity.link, class: 'clearfix' do
        .img.bfL = image_tag(activity.image_url, alt: '', width: '100', height: '75')
        .info
          h5.tt = activity.title
          .con = truncate(activity.content, length: 30)

ul.navBar.clearfix
  li
    = link_to gen_auth_url('mobiles/prescriptions/new_prescription') do
      span.icon = image_tag('mobiles/navBarIcon1.png', alt: '', width: '20')
      | 我要买药
  li
    = link_to gen_auth_url('mobiles/activities') do
      span.icon = image_tag('mobiles/navBarIcon2.png', alt: '', width: '20')
      | 健康频道
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/navBarIcon3.png', alt: '', width: '20')
      | 个人中心
