= form_for [:admin, :v2, @banner], html: { class: 'form-horizontal formBox valForm' } do |f|
  .form-group
    = f.label :title, '标题', class: 'col-sm-2 control-label'
    .col-sm-8
      = f.text_field :title, class: 'form-control', required: 'required'

  .form-group
    = f.label :poi, '位置', class: 'col-sm-2 control-label'
    .col-sm-2
      = f.select :poi, options_for_select(Banner::POI_OPTIONS), {}, class: 'form-control', required: 'required'

  .form-group
    = f.label :begin_at, '有效期(开始)', class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :begin_at, class: 'form-control', required: 'required'

  .form-group
    = f.label :end_at, '有效期(结束)', class: 'col-sm-2 control-label'
    .col-sm-4
      = f.text_field :end_at, class: 'form-control', required: 'required'

  .form-group
    = f.label :redirect_way, '跳转至', class: 'col-sm-2 control-label'
    .col-sm-6
      = f.text_field :redirect_way, class: 'form-control', required: 'required'

  .form-group
    = f.label :use, '用途(web或App)', class: 'col-sm-2 control-label'
    .col-sm-2
      = f.select :use,  options_for_select([['web', 'web'], ['app', 'app']]), {}, class: 'form-control', required: 'required'

  .form-group
    = f.label :image, '文件', class: 'col-sm-2 control-label'
    .col-sm-2
      = f.file_field :image, class: 'form-control', required: 'required'

  .form-group
    .col-sm-8.col-sm-offset-2
      = f.submit '提交', class: 'btn btn-primary mr20'
      = link_to '取消', admin_v2_banners_path, class: 'btn btn-warning'
