.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 Banner管理
    ol.breadcrumb
      li.active Banner管理

  .col-lg-2 = link_to '创建新的Banner', new_admin_v2_banner_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 Banner管理

    .ibox-content
      table.table.table-striped
        thead
          tr
            th 标题
            th 位置
            th 跳转链接
            th 用途
            th 编辑
            th 删除
        tbody
          - @banners.each do |item|
            tr
              td= item.title
              td= item.poi
              td= item.redirect_way
              td= item.use
              td
                = link_to '编辑', edit_admin_v2_banner_path(item)
              td
                = link_to '删除', admin_v2_banner_path(item), method: :delete, data: { confirm: '确认删除？' }

      - if @banners.present?
        .hr-line-dashed

      = paginate @banners
