.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 Banner管理
    ol.breadcrumb
      li = link_to 'Banner管理', admin_v2_banners_path
      li.active 新建Banner

  .col-lg-2 = link_to '返回列表', admin_v2_banners_path, class: 'btn btn-sm btn-primary bfR mt20'

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 新建Banner
    .ibox-content
      .row
        = render 'form'
