.row.wrapper.border-bottom.white-bg.page-heading
  .col-lg-10
    h2 药房管理
    ol.breadcrumb
      li.active 药房列表

  .col-lg-2

.wrapper.wrapper-content.animated.fadeInRight
  .ibox.float-e-margins
    .ibox-title
      h5 药房列表

    .ibox-content
      table.table.table-striped
        thead
          tr
            th 省
            th 市
            th 药房名称
            th 地址
            th 电话
            th 类型
            th 品牌
            th gps
            th 操作
        tbody
          - @drug_stores.each do |item|
            tr
              td= item.province
              td= item.city
              td= item.name
              td= item.address
              td= item.phone
              td= item.store_type
              td
              td= item.gps
              td= link_to '编辑', '#'
