doctype html
html
  head
    title 医药电商平台
    meta charset="utf-8"
    meta name="keywords" content="template language"
    meta name="author" content="author"
    meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no"
    meta name="mobile-web-app-capable" content="yes"
    meta name="apple-mobile-web-app-capable" content="yes"
    meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"
    = stylesheet_link_tag "fonts", media: "all"
    = stylesheet_link_tag "mobiles/default", media: "all"
    = include_gon
    = javascript_include_tag "mobiles/basic"
    = javascript_include_tag "http://res.wx.qq.com/open/js/jweixin-1.0.0.js"
    = javascript_include_tag "mobiles/wxconfig"

  body
    = yield
