.prescriptionsBg
  #imageShoot
    .logo = image_tag("mobiles/logo.png", alt: "", width: "30%")

    .citySelect.txtC
      .selectArr
        = select_tag "area_id", options_from_collection_for_select(@areas, "id", "name"), class: "form-select"

    = button_tag(type: "button", id: "photoBtn") do
      = content_tag(:span, "", class: "icon icon-camera")

    .info
      h5.tt 拍处方
      p 点击按钮，拍处方，即可下单

    = hidden_field_tag 'open_id', @open_id

  #imageSuccess.hide
    .preview_img

    .info
      h5.tt 您的处方已提交成功
      p 药剂师正在审核您的处方
      p 请耐心等待

    .animationImg
      .img = image_tag("mobiles/prescription/animation_img.png", alt: "", width: "100%")
      .icon

    .tip_back = image_tag("mobiles/back_tip.png", alt: "", width: "100%")

ul.navBar.clearfix
  li
    = link_to gen_auth_url('mobiles/prescriptions/my_prescriptions') do
      span.icon = image_tag('mobiles/navBarIcon1.png', alt: '', width: '20')
      | 我要买药
  li
    = link_to gen_auth_url('mobiles/activities') do
      span.icon = image_tag('mobiles/navBarIcon2.png', alt: '', width: '20')
      | 健康频道
  li
    = link_to gen_auth_url('mobiles/users/my_center') do
      span.icon = image_tag('mobiles/navBarIcon3.png', alt: '', width: '20')
      | 个人中心

javascript:
  var shareUrlLink = gon.info['url'];
  var shareTitle = "上益药，买好药";
  var shareIconPath = "http://sphapp.lankr.cn#{ image_path('mobiles/icon.jpg') }";
  var shareDesc = "上益药，买好药";

  wx.ready(function () {
    // 分享到朋友圈
    wx.onMenuShareTimeline({
      title: shareTitle, // 分享标题
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享给朋友
    wx.onMenuShareAppMessage({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      type: '', // 分享类型,music、video或link，不填默认为link
      dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享到QQ
    wx.onMenuShareQQ({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 分享到腾讯微博
    wx.onMenuShareWeibo({
      title: shareTitle, // 分享标题
      desc: shareDesc, // 分享描述
      link: shareUrlLink, // 分享链接
      imgUrl: shareIconPath, // 分享图标
      success: function () {
        // 用户确认分享后执行的回调函数
      },
      cancel: function () {
        // 用户取消分享后执行的回调函数
      }
    });

    // 5 图片接口
    // 5.1 拍照、本地选图
    var images = {
      localId: [],
      serverId: []
    };
    var openId = $('#open_id').val();
    document.querySelector('#photoBtn').onclick = function () {
      wx.chooseImage({
        success: function (res) {
          var i = 0, length = res.localIds.length;
          var localIds = res.localIds;

          wx.uploadImage({
            localId: localIds[0], // 需要上传的图片的本地ID，由chooseImage接口获得
            isShowProgressTips: 1, // 默认为1，显示进度提示
            success: function (res) {
              var serverId = res.serverId; // 返回图片的服务器端ID
              uploadImageToServer(serverId, openId)
            }
          });
        }
      });
    }

    function uploadImageToServer(mediaId,openId){
      $.ajax({
        method: 'POST',
        url: '/mobiles/prescriptions/create_prescription',
        data: {
          area_id: $('#area_id').val(),
          image_src: mediaId,
          open_id: openId,
          source_info: 'wechat'
        },
        success: function(data){
          $('#imageShoot').hide();
          $('#imageSuccess').show();
          $('#imageSuccess').find('.preview_img').html('<img src='+ data.image_url +' width="134" height="210" />');
        }
      });
    }

    // 5.2 图片预览
    document.querySelector('#previewImage').onclick = function () {
      wx.previewImage({
        current: 'http://img5.douban.com/view/photo/photo/public/p1353993776.jpg',
        urls: [
          'http://img3.douban.com/view/photo/photo/public/p2152117150.jpg',
          'http://img5.douban.com/view/photo/photo/public/p1353993776.jpg',
          'http://img3.douban.com/view/photo/photo/public/p2152134700.jpg'
        ]
      });
    };

    // 5.3 上传图片
    document.querySelector('#uploadImage').onclick = function () {
      if (images.localId.length == 0) {
        alert('请先使用 chooseImage 接口选择图片');
        return;
      }
      var i = 0, length = images.localId.length;
      images.serverId = [];
      function upload() {
        wx.uploadImage({
          localId: images.localId[i],
          success: function (res) {
            i++;
            alert('已上传：' + i + '/' + length);
            images.serverId.push(res.serverId);
            if (i < length) {
              upload();
            }
          },
          fail: function (res) {
            alert(JSON.stringify(res));
          }
        });
      }
      upload();
    };

    // 5.4 下载图片
    document.querySelector('#downloadImage').onclick = function () {
      if (images.serverId.length === 0) {
        alert('请先使用 uploadImage 上传图片');
        return;
      }
      var i = 0, length = images.serverId.length;
      images.localId = [];
      function download() {
        wx.downloadImage({
          serverId: images.serverId[i],
          success: function (res) {
            i++;
            alert('已下载：' + i + '/' + length);
            images.localId.push(res.localId);
            if (i < length) {
              download();
            }
          }
        });
      }
      download();
    };

    // 8.7 关闭当前窗口
    document.querySelector('#closeWindow').onclick = function () {
      wx.closeWindow();
    };

  });
